[2015-08-05 18:32] tangollama opened #1 "When a inventory item hits it's set minimum level, trigger a configurable notification"
The system is setup with the data to do this, but the Node.js hospital-run server code hasn't been built.

[2015-12-05 05:50] phanimahesh opened #3 "Do not use POST requests for everything"
Most routes are use HTTP POST even to fetch a resource, which does not conform to REST philosophy. They should be rewritten to use the appropriate HTTP verbs based on their function.

From a very cursory examination, `/chkuser`, `/getuser` and `/allusers` should be GET, `/deleteusers` should be DELETE and `/updateuser` should be a PUT/PATCH request.

The changes are minimal, I can submit a PR if y

[2015-12-05 05:55] phanimahesh opened #4 "Identify and document which versions of frontend are compatible with which versions of backend."
In case backwards incompatible changes are introduced, for instance to resolve #3, there must not be any ambiguity about which version of backend and which version of frontend can be used together.

One way is to version the API, and document the api versions provided by backend and required by client. Semantic versioning guidelines can be used to increment version numbers when changes are introdu

[2015-12-06 03:21] jglovier commented on #4
Also, we should really have a test suite setup for this.

[2015-12-07 16:54] jkleinsc commented on #4
I would like to propose a simple solution to this:
1) As a baseline for versions, we should be using semver: http://semver.org/
2) I would like to follow the approach Ember is using for [Ember 2.x](http://emberjs.com/blog/2015/06/16/ember-project-at-2-0.html).  The tldr here is that the major versions of server and frontend would be compatible but using different major versions of server and front

[2015-12-08 04:49] phanimahesh commented on #4
Yes, that sounds good.

[2015-12-10 13:52] toovy opened #5 "Security Concerns"
Hi,

Great project! I've looked at the server side and I'm interested how you handle the security as I've looked at CouchDB and the way you simply proxy it. Are you using the CouchDB role system? How are the different roles setup, via _design documents? I've not found a setup script or sth.

BR toovy

[2015-12-10 14:16] jkleinsc commented on #5
We are using roles, but right now at a very basic level. I would like to expand what we have to offer role based ACL.  Our setup script currently lives here: https://github.com/HospitalRun/hospitalrun-frontend/blob/master/initcouch.sh

We are using CouchDB's _users database to manage the users for HospitalRun  and assigning users different roles based on their roles within HosptialRun.  If you loo

[2015-12-10 14:41] toovy commented on #5
Thanks for your answer, and yes, makes sense. The conclusion is that currently you could manipulate the ember client and it would be possible to get more data than your role is allowed to. I've evaluated the possibility of CouchDB ACL and did not really find a solution but using one DB per role / group that is allowed to access the data. If you got different permissions that might change that mode

[2015-12-10 14:54] jkleinsc commented on #5
I ran across this the other day and am wondering if it would be useful:
https://github.com/ermouth/covercouch

You are right about search, but I think we could implement something there as well.

[2015-12-11 18:56] tangollama opened #6 "estimatedDaysOfStock: a server-calculated field processed for inventory item adjustments"
One of the objectives of the inventory system is to help hospital admins know what items are and are not in danger of stocking out. To support this, we added a rank field (A,B,C) through the following issues for frontend:

https://github.com/HospitalRun/hospitalrun-frontend/issues/207
https://github.com/HospitalRun/hospitalrun-frontend/issues/209

Related to this PR (https://github.com/HospitalRun

[2015-12-15 13:37] toovy commented on #5
@jkleinsc looks like what would be needed, the implementation seems to be tricky. Also with a proxy inbetween you might run into performance issues (well if you query one million docs the covercouch loops one million times to filter unwanted stuff out as far as I can see). But I guess you can't have everything: a performant secure offline-first ember app ;)

[2015-12-17 09:03] cquillen2003 commented on #5
How about one DB per user with filtered replication to/from a company-wide "master" DB?  If a user's permissions change, delete the user's DB and re-build it from the company-wide DB.

Based on the links below, I think this may be how eHealth Africa handles this.  Also the Hood.ie framework, which is built on CouchDB.

http://docs.hood.ie/en/hoodieverse/how-hoodie-works.html

https://github.com/eH

[2015-12-17 09:56] toovy commented on #5
@cquillen2003 thanks for the examples. I understand that replication is the key. I'm new to CouchDB so I'm not quite sure if I understood the concept:

- each user writes to the MasterDB, use validate_doc_update to prevent them from updating and inserting stuff they should not (is validate_doc_update also used on insert?)
- each UserDB is replicated from the MasterDB using a filter function that p

[2015-12-17 17:52] cquillen2003 commented on #5
@toovy The second pattern you described is what I meant.  The MasterDB would not be read from or written to directly.  It would be kept up to date via replication only as a way for a company's users to share data.

@jkleinsc Any thoughts on this?  I have not tried this yet myself.

[2015-12-17 18:21] jkleinsc commented on #5
@cquillen2003 yes I have been debating whether or not per user user/per role dbs are the solution here.  My only concern is scalability/performance of a solution like this.  For what I've heard it should scale well, but I think there may be more considerations on how you deal with conflicts.  I think those are solvable problems but they need to be addressed.

[2015-12-17 21:19] jkleinsc commented on #5
For posterity's sake, here is a conversation I had with @janl on this topic:

jkleinsc [11:00 AM]
Does anyone have any experience doing partial syncs between pouchdb and couchdb?

jan [11:06 AM]
how partial?

jkleinsc [11:13 AM]
I can’t do a database per user, but I need a way to limit how many records get synced between pouch and couch on a per user basis.

​[11:14]
I’m working on an opensource H

[2015-12-17 22:58] cquillen2003 commented on #5
@jkleinsc Thanks for sharing!  That's good to hear from @janl because he is a lead on CouchDB and Hood.ie as I understand it.

On another note, do you use the _users database?  If so, do you allow certain end-users to add/remove users within their company/organization?

[2015-12-21 06:49] MiguelMadero commented on #5
This is useful. I will have to look at filtered replications.
I found the [nolanlawson/pouchdb-authentication](https://github.com/nolanlawson/pouchdb-authentication) useful, specially the section around [authentication recipes](https://github.com/nolanlawson/pouchdb-authentication#couchdb-authentication-recipes).

[2015-12-29 16:58] turboMaCk opened #7 "Docker containers?"
Did you think about adding [docker](http://docker.com/) containers (maybe with [docker-compose](https://docs.docker.com/compose/)) to make development and production setup easier? Maybe this can be way to go to made deployment and services management (elastic, couchdb, app server) easier.

[2015-12-29 17:36] turboMaCk commented on #3
I agree that using `GET/PUT(or PATCH)/POST/DELETE` is better for these and much more RESTlike. The question is how this will affect FE's adapter.

[2015-12-29 17:38] turboMaCk opened #9 "Missing tests."
For avoiding future regressions it will be good to add tests to this project as soon as possible.

[2015-12-29 21:06] phanimahesh commented on #3
Which FE adapter are you referring to?

[2015-12-29 21:25] turboMaCk commented on #3
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/adapters/application.js
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/app/adapters/user.js
and also:
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/server/routes/couchuser.js#L98

[2015-12-30 15:19] jglovier commented on #9
:+1: :+1:

[2016-01-04 11:47] pgte commented on #5
If these assumptions hold:
* the access control per role fits (you don't need to partition the data per department), and
* each user has only one role

...in my experience, a database per role can work quite well.

To be clear that we're talking about the same thing:

## CouchDB:

* There is a master database;
* Only a server admin user can access the main database (no clients access that database

[2016-01-04 13:02] jkleinsc commented on #5
@pgte sounds good to me.  Go ahead on a POC.  I think users switching roles will be the exception not the norm, but it is something to think about.  Also, I am working on something in regards to how pouch/couch sync that I think may make that issue less of an issue.

[2016-01-05 08:55] toovy commented on #5
I had a look at filtered replications and hacked a small prototype. Replications are pretty easy to setup. Using nano on node I could create new databases and setup the replications.

In detail the process is:

1. generate a random DB name (prefixed uuidv4 in my case)
2. create the new DB (that belongs to only the user)
3. create a new user and set the DB name as a property
4. setup the [_security

[2016-01-06 11:50] pgte commented on #5
@jkleinsc If possible, I now need to define the replication filter functions.
For each role, can you explain the criteria for allowing or not each doc to be replicated?

[2016-01-06 20:07] codecounselor commented on #7
Hey @turboMaCk - I joined the project a while back and never really amounted to much :) but I've been playing with Node lately on another venture and just rigged up Vagrant.  Back when I was setting up hospital run I wrote a pretty rudimentary script for os x, but if the hospital run gang has a desire for one of the common vagrant boxes (i.e. ubuntu) I'd be happy to help you or someone else work t

[2016-01-06 20:15] turboMaCk commented on #7
Hello @codecounselor
For me Docker have one big advantage over Vagrant. You can use it to ship and manage production environment so in fact whole deploy process for end user should be just setting something like `docker-compose.yml` by example and running `docker run hospitalrun/production` and whole infrastructure will be build and.

[2016-01-06 21:01] jkleinsc commented on #5
@pgte I am working on the criteria per role.  I am putting together a document for this.

[2016-01-07 21:16] jkleinsc commented on #5
@pgte Here is a spreadsheet showing which user role has access to which keys in the system:
https://docs.google.com/spreadsheets/d/19Ls4cFSf1v5sFojQjzApiIqB6ryatLXBgdgwtVkqo1E/edit?usp=sharing
Over time this will probably change and at some point this may be dynamically built (eg per implementation you may define custom access per role)

Looking at the spreadsheet, there are some entities in the s

[2016-01-08 03:20] tangollama commented on #5
For me, what's important to remember is what we're trying to accomplish when we talk about data security with offline, and I have an assertion that anyone should feel welcome to challenge: the primary problem we're concerned with is one of patient confidentiality.

If that assertion is correct, we might really be talking about only two types of offline database experiences:

- one where the patien

[2016-01-08 09:35] pgte commented on #5
@tangollama My belief is that, in CouchDB, when using filtered replication you can only decide whether to replicate a given document or not — you can't change that document when replicating.

One solution to this (off the top of my head) is to have 2 main databases:

* main (the current one)
* main-anonymized: containing all the records, but anonymized.

This last one would be the database that is

[2016-01-08 19:41] jkleinsc commented on #5
@pgte @tangollama I feel like I need to give this more thought, but here are some things that come to mind:

1) I think instead of "anonymized" records and "regular" records the better approach would be to put data that needs to anonymized in its own document and reference that document in the patient document.  That way we could do filtered replication the way CouchDB intends it.

2) I think I ne

[2016-01-10 17:00] pgte commented on #5
@jkleinsc yes, it makes sense to have 1 separate containing only the personalized data.
I'll then wait for you to come to a conclusion before proceeding.

[2016-01-14 21:02] jkleinsc commented on #5
@pgte I realized that with a small change to the frontend (HospitalRun/hospitalrun-frontend#261) we can significantly limit who needs access to inventory records.  This makes the permissions matrix much simpler.  Also, I realized that certain roles overlap with the same data requirements, so where possible I combined those roles.  Based on these two things, I updated the doc (https://docs.google.c

[2016-01-25 09:13] bkerensa opened #11 "API External Submission"
Allow third-party apps like Glucosio to submit glucose and other health metrics

[2016-01-29 18:54] jkleinsc commented on #3
The routes in question are no longer needed on the server (see HospitalRun/hospitalrun-frontend@f185df149874a8ee9527fc8dd832ee1ef15a1432 and HospitalRun/hospitalrun-frontend@8b6a26da4414d6797c4ae115205032a24e6265b4) and they will be removed from the server

[2016-01-29 18:55] #3 closed

[2016-01-29 18:55] #4 closed

[2016-01-29 18:57] jkleinsc opened #12 "Fix formatting/add style guide"
Just like HospitalRun/hospitalrun-frontend there should be formatting/style guide used via jscs and existing code should be reformatted to follow that guide.

[2016-01-29 20:58] jkleinsc commented on #12
Closing because 6139df857153fbaafdcb707b097f7856aed655e5 added this.

[2016-01-29 20:58] #12 closed

[2016-02-05 14:20] filipesperandio commented on #7
I love Docker and would like to help on this.
What is the current approach for production deployment?

[2016-02-05 16:47] jkleinsc commented on #7
@filipesperandio we are looking at 1.0 as an initial public release so right now there isn't a particular approach for production deployment.  In the hospitals we are piloting in, we are just pulling straight from git.. not a long term solution, but for the handful of deploys it is what we are doing for now.

[2016-02-05 18:01] filipesperandio commented on #7
@jkleinsc Is the internet connection reliable enough on those institutions (so that we could use a cloud solution for the servers) or is it the idea to host the server from within the local network moving forward?

[2016-02-05 18:16] jkleinsc commented on #7
@filipesperandio because couchdb lends itself well to replication, in our hospitals our deployment plan is to host a server in the local network which replicates to a cloud server.  This gives us redundancy/backups as well as a way of accessing data outside the hospital.  The reality is, HospitalRun can work either way and in theory you could even run serverless if you didn't care about backups.

[2016-02-05 19:35] filipesperandio commented on #7
@jkleinsc Cool. I am trying to better understand the environments so I can help with deployment strategies.
Is it usual to have a single computer in those hospitals or a full network? I am thinking if once setup a server there will be some setup required for other computers to reach out to that one, like DNS and/or routing...

[2016-02-05 19:52] jkleinsc commented on #7
@filipesperandio I think it could depend on the hospital.  Our hospitals have a full network so there is a DNS server in the hospital which has an entry for the local hospitalrun server.  We use the same dns name outside the hospital so it is seamless to users which server they are connecting to.

I think some of the hospitals who could use a solution like this will have very little IT support to

[2016-02-05 20:17] turboMaCk commented on #7
This is why I think it might be useful to use docker-compose as first class citizen for managing it. After all there can be just one yml file with just ENV var and linking for all containers. Different scenario => different docker-compose.yml.

[2016-02-05 20:23] filipesperandio commented on #7
@turboMaCk I like the idea too and I can help building up the docker images.

The simplest deployment strategy from my perspective, though, would be not to host anything within the hospitals' network and use Heroku or AWS for that so all infrastructure management would be handled by us, but this solution require the hospitals to rely on good internet connection.

[2016-02-05 20:57] turboMaCk commented on #7
I think for now we can focus mainly on dev env. Than we will have much better experience about how is it stable, how it scales and based on that experience we will be able to made better decision what can we will be the best production maintenance.

I'll start with simple dev containers with mounting pwd (with source code) in "Vagrant like" way. Btw I made container which should be helpful for fro

[2016-02-06 14:58] filipesperandio commented on #7
:+1:

[2016-04-07 14:11] techthumb commented on #7
Has there been work done on this front?

I'm considering dockerizing the frontend app as mentioned in HospitalRun/hospitalrun-frontend#407

[2016-04-07 14:15] turboMaCk commented on #7
I believe not. At least not by me. I have some health problems for past few months so I better try to relax. Ask @jkleinsc but I think it would be awesome if you can push this forward.

[2016-04-07 14:18] filipesperandio commented on #7
@techthumb I was planning to tackle that myself soon but didn't get the time to do so yet. Wanna work together on that?

[2016-04-07 14:21] turboMaCk commented on #7
btw feel free to use this container and send PRs if any changes are required https://github.com/turboMaCk/ember-test-container I'll accept them asap.

Btw. Dont try tu build that image from repo.. Compilation of phatom.js from source can take up to 10 hrs.

[2016-04-07 14:25] techthumb commented on #7
@turboMaCk I hope that you feel better soon. I'll look at that repo & try to make sense of it

@filipesperandio Yes! Let's.

Very basic, but this is what I've got so far: https://github.com/techthumb/hospitalrun-frontend/commit/56ddfe04f5dbd5508863927e0b0067947a46685c

[2016-04-07 14:30] turboMaCk commented on #7
I thik there is no need to have ZSH and OH-MY-ZSH directly in that container. In usual work flow you access all of this from outside of a container via docker run cmd. What you need is phantom.js for tests. I think you can go with my container for running ember + add another one for couchdb and build only docker-compose file for start whole cluster.

[2016-04-07 22:28] techthumb commented on #7
@turboMaCk I agree with not installing ZSH & OH_MY_ZSH.

I'm keen to base the image off `Alpine Linux`.

I am trying to get a workflow working for both, dev & deploy.
It seems like a lofty goal though.

I am going to focus on dev workflow for now.

[2016-04-13 17:38] techthumb commented on #7
I've got a build happening within docker: https://travis-ci.org/techthumb/hospitalrun-frontend/builds/122688998

However, I'm running into failures & timeouts.

I'm investigating.

[2016-04-13 17:55] turboMaCk commented on #7
You're building docker container in build step? This is insane. You want tests to run as fast as possible. Pull that container from docker hub and just run tests inside of it.

[2016-04-13 22:49] techthumb commented on #7
Running the tests in the container gives us dev & prod parity. Hence, I'd be willing to pay that cost.

Also, caching node_modules will give us the speed gains we need.

[2016-04-17 15:40] visualjeff commented on #7
I think you might want to build the app then copy into the docker image the final ember dist directory.  Then use node to with a small script to serve up the final product.  WIth CouchDB I've always fronted it with nginx so as to provide TLS support for secure connections.  The two docker images would be managed by docker-compose.  The goal would be to keep them fairly small in size.  Each contain

[2016-04-22 09:47] tangollama commented on #11
@bkerensa I'm 100% for building capacity for integrating with API's like this. Do you have any specific guidance on a first concrete step?

[2016-04-22 09:54] tangollama opened #14 "Supporting anonymous research data"
We need an automated strategy for supporting anonymized data sets for research. By anonymized, I'm specifically calling out dropping identifier information in patient records like:
- First and Last Name
- Street Address
- Phone number
- Email
- Names and addresses of related contacts

It _feels_ to me like this feature ought to be focused around filtered replication in couch to handle specific rec

[2016-04-22 10:13] tangollama opened #15 "Moving the existing reporting to the Node server backend"
The ticket was first logged here:  https://github.com/HospitalRun/hospitalrun-frontend/issues/204

The move could be fairly straightforward for a Node developer, because: Javascript.

The concept here is that the frontend would now become more of a proxy to the node backend request vs. the system processing the business logic. To do that, the framework for making the call to an endpoint / endpoint

[2016-04-22 10:15] tangollama opened #16 "Notify a physician when a lab is completed"
![hospitalrun lab notifications - new page 1](https://cloud.githubusercontent.com/assets/929261/15619859/e0b5c474-2424-11e6-9f22-b8846dcd0946.jpeg)
Notify the requesting physician when lab data is entered.

[2016-04-22 10:16] tangollama opened #17 "Notify a requesting physician when an imaging request is fulfilled"
When an imaging request is moved to a fulfilled or completed state, notify the physician who requested put in the request.

[2016-04-22 10:23] tangollama opened #18 "Build the basis for the notification framework"
There are numerous notification requirements / opportunities in the system; but the biggest need is to think through the framework for registering and delivering notifications.

Notification types should at least begin with:
- Email
- A notifications interface on the home screen of HospitalRun

In the future, tying into a text messaging service or even a mobile version of the system could be suppo

[2016-05-06 17:44] tangollama opened #19 "Intercepting a medication request based on business rules"
This issue is further / better explained in #21

Concept: Physicians need to just enter a medication request, lab request, imaging request. The system on the other hand needs to (potentially) process the workflow for those requests differently depending on whether a request is tied to an outpatient or inpatient visit.

Therefore, for the labs, medication, and imaging queues, the system should:

1)

[2016-05-10 14:29] jkleinsc opened #20 "Replace CouchDB River Plugin for Elasticsearch with logstash couchdb changes input."
The [CouchDB River Plugin for Elasticsearch](https://github.com/elastic/elasticsearch-river-couchdb) we are using is deprecated and not supported in newer versions of Elasticsearch.

We need update our Elasticsearch integration to use the [logstash couchdb changes input](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-couchdb_changes.html).

[2016-05-12 18:55] tangollama opened #21 "Intercept Visit creation to determine payment workflow"
- [ ] If the Visit Type is Admission, check the [workflow configuration](https://github.com/HospitalRun/hospitalrun-frontend/issues/462) that defines whether a deposit is needed. If yes, notify the user that saved the record that the patient must be directed to the Cashier's desk.
- [ ] If the Visit Type is Clinic, check the [workflow configuration](https://github.com/HospitalRun/hospitalrun-front

[2016-05-12 19:28] tangollama commented on #11
@bkerensa any interest in defining some concrete calls / API's from systems like Glucosio? If we could get more definition here, it would make it more likely a feature like this could / would be added.

[2016-05-12 20:54] jkleinsc opened #22 "Add phone to patient search for ElasticSearch"
HospitalRun/hospitalrun-frontend#409 added patient phone number to the patient search.  The elasticsearch mappings need to be updated to now include patient phone number.

[2016-05-13 02:34] tangollama commented on #15
@jkleinsc can you review and confirm this?

[2016-05-13 13:24] jkleinsc commented on #15
@tangollama I updated your comment to point to the specific files that currently contain the JS logic to build the reports.  Also, I noted we should try to return report results in the JSON API format since Ember Data uses that.

[2016-05-17 23:36] bkerensa commented on #11
Ideally for us to be willing to add support for HospitalRun what we would want to be able to do via API
is push any data users enter into Glucosio on demand.

So ideally we would want a way to allow user to authenticate to their record and push in that data
not entirely sure what this would look like on your side.

Do you have any doc for your api so I can dig in?

[2016-05-18 14:55] tangollama commented on #21
Additional thoughts: from a technical perspective the workflow database listeners need to be examining change to the following items on both creation and update (state change):

- Visits
- Medication requests
- Lab requests
- Imaging requests

[2016-05-19 06:04] drpump commented on #11
Regarding APIs, I would suggest implementing an API based on the draft [FHIR ](https://www.hl7.org/fhir/) standard. The community around it is very active and progressive, and OAUTH is also their preferred authentication/authorisation mechanism.

For submitting metrics, the FHIR [Observation ](https://www.hl7.org/fhir/observation.html) resource is likely to be most appropriate.

[2016-05-19 21:31] bkerensa commented on #11
That would work for us as we look at adding this kind of support and the closer to a standard we can get external API's to work the better for us.

[2016-05-24 14:47] pgte commented on #14
Since filtered replication can only tell whether a document should or shouldn't be replicated, I suggest we do a mapped one-way replication from the main database into a anonymized database.
This mapped replication would listen to changes from the main database and, for each document passing, map it on the fly.
This could be a special-purpose node process that would act as a replication proxy (on

[2016-06-07 11:58] pierreozoux commented on #7
Any updates on that issue? I might help as well.

Let me know!

[2016-06-07 14:47] visualjeff commented on #7
I don't have any updates related to this particular issue.  I use docker and docker compose at work (on node and ember projects) so maybe I can help?  Let me know if I can be of any assistance.

[2016-06-07 15:07] techthumb commented on #7
https://github.com/techthumb/hospitalrun-frontend/commit/dbc5c8afa62763a07f1ea9e49335c0d4e760f9c8

I've got it working, but it is very slow.

[2016-06-18 22:24] titonobre commented on #18
Hi.
Today, at the Hack Day Lisbon, I started working in the notifications system based on some tips from @jkleinsc.

[2016-06-20 19:50] tangollama commented on #21
Here's the design doc that we put together for this issue. https://docs.google.com/document/d/1WnFpwDQ6VabKpKMBCsz8NhAL17VgRdvS7vap7el3YW4/edit

[2016-06-21 03:13] tangollama commented on #18
Design doc for the Lisbon Hack Day https://docs.google.com/document/d/1tQzECDRgBkbvtMizsR-Prh0-fX_djivadFe_fK4eCW4/edit#heading=h.23y5yhjqf9dn

[2016-06-21 20:06] titonobre commented on #18
After a conversation in Lisbon with @jkleinsc I went home thinking about the notifications system.

The first step leads us right away to push notifications. Wouldn't be better to start with someting like the following?

# Step 1
Create dblisteners that listens for changes and send notifications to users/roles. These notitifications are stored in the DB.

# Step 2
Create a component to show the no

[2016-06-27 08:52] sericaia commented on #18
@tangollama what do you think? can the designs be adjusted to this proposal?

[2016-07-05 19:43] jkleinsc commented on #18
@sericaia sorry for my delay in responding.  I was away but I am back now.  I think the suggestion @titonobre is great and we should adjust the design to to accommodate.

[2016-07-11 19:01] jkleinsc commented on #5
Using https://github.com/cloudant-labs/envoy could be a possibility here. Something to investigate at some point.

[2016-11-02 18:32] WeeSkilz commented on #22
Would this be updated in https://github.com/HospitalRun/hospitalrun-server/blob/5b45bec895499ee0910567e6b84a7e8a6109c7e8/utils/elasticsearch.sh ? Looking to start contributing with something small!

[2016-11-02 18:37] jkleinsc commented on #22
@WeeSkilz yes exactly!

[2016-11-05 20:57] #22 closed

[2016-11-15 21:52] SheriefAlaa opened #30 "Hospitalrun not performing logins."
Hi,

I installed CouchDB 1.6, hospital-run-server, ran npm install then npm start and this time I am on defaults and also following the setup guide to the letter. After logging in I see basically nothing and the only working event is the settings button (logout/about).

Database setup (http://localhost:5984/_utils/index.html):
[code]

config.js:
[code]

Screenshots of what happens when I click log

[2016-11-16 15:25] jkleinsc commented on #30
@SheriefAlaa You need to replace the following in config.js:
  couchAdminUser: 'COUCH ADMIN USER GOES HERE',
  couchAdminPassword: 'COUCH ADMIN PASSWORD GOES HERE',

with the couch admin user and password.  If you just ran initcouch.sh with no arguements, the values should be:
  couchAdminUser: 'couchadmin',
  couchAdminPassword: 'test',

[2016-11-16 20:09] SheriefAlaa commented on #30
@jkleinsc I forgot to mention that I tested with and without adding in a user
(hradmin:test, I also just tested couchadmin:test) to config.js. The outcome is the same. Have you checked the screenshots (I added two more to the folder - CouchDB isn't even getting requests)?

[2016-11-16 20:32] jkleinsc commented on #30
@SheriefAlaa a couple of things to investigate:
1) Do you see any output in the terminal where you are running hospitalrun (eg npm start)
2) Can you login into futon by going to http://127.0.0.1:5984/_utils/ and then clicking on login in the lower right hand corner?  You should be able to login with both couchadmin/test and hradmin/test
Once you login, verify that there is a config database and a

[2016-11-21 22:08] #30 closed

[2016-12-26 22:10] hsorellana commented on #7
is this issue being worked on?? i'm new to the project but with a lot of hope in making contributions.

[2017-01-09 15:55] lucifer360 opened #33 "Synk couldnt patch vulnerabilities"
**_hospitalrun-server@0.9.17 Snyk couldn't patch the vulnerabilities because GNU's patch is not available. please install "patch" and try again_**

[2017-02-17 12:22] SheriefAlaa opened #36 "Hospitalrun-server's npm start fails to start (root path required)."
Hospitalrun-server's npm start fails to start (root path required).

NodeJS: 7.4.0
npm: 3.5.2
OS: Ubuntu 16.04

[code]

Any ideas what might be causing this?

Thanks.

[2017-02-17 15:34] jkleinsc commented on #36
@SheriefAlaa check to see if config.js has the following config value defined:
attachmentsDir: __dirname + '/attachments',

This value was recently added to the example-config.js and is needed by version 0.9.10 of hospitalrun-server-routes.  This was a recent upgrade so if you pulled the latest from git but had an older version of the config file, you will get that error until you add the attachme

[2017-03-11 11:38] emadehsan commented on #33
You are probably on windows. You can solve this in two ways:

1. Either install GNU's patch
or
2. Install [Cygwin](https://cygwin.com/index.html) on windows and then run `npm install`

[2017-03-29 13:51] #20 closed

[2017-05-04 14:11] jkleinsc opened #47 "Inventory Import needs to be updated to new schema"
Since the move to ember-pouch, https://github.com/HospitalRun/hospitalrun-server/blob/master/utils/inv-import.js does not properly load inventory data.  The script needs to be updated to load the inventory data using the ember-pouch schema, eg:

[code]

[2017-05-12 18:58] garylm opened #48 "Correct Docker install scripts"
The Docker install instructions have a bad syntax.  It appears as:
   git clone git@github.com:HospitalRun/hospitalrun-server.git

It Should Be:
git clone https://github.com/HospitalRun/hospitalrun-server.git

(installing on Ubuntu 16.04 server)

[2017-05-18 01:25] richiethomas commented on #16
Hi, a few questions about this issue:

-How much of the functionality in the flowchart is already in place?
-To be clear, is it correct that this story just involves the last arrow in the flowchart (the one from `Save Lab` back to the clinician)?
-Am I correct that this requires work in both the hospitalrun-server and hospitalrun-frontend codebases?  i.e. server-side work will handle the message p

[2017-05-23 18:48] techmaniack opened #49 "'Session Expired' error while trying to add users"
I followed the docker deployment instructions and the application is running on http://localhost:8055 but when I try navigating to 'Administration/Users' I get a Session Expired pop up.

![screen shot 2017-05-24 at 12 10 09 am](https://cloud.githubusercontent.com/assets/524248/26370623/050b3076-4016-11e7-9848-32ecebbc546e.png)

Here are the log entries
[code]

I have tried installing HospitalRun o

[2017-05-24 10:22] chinmaybhatk opened #50 "Error getting configurations to update & Error creating push database"
i could install and run couchdb but when i try to run the server it throws me this error.
[code]
i am not getting where is the issue.. tried all the posts available but no luck.. please help me what is going wrong..
ubuntu 14.04 32 bit
couchdb 1.6.1
node v7.8.0
npm 4.2.0

[2017-05-31 03:29] mridzuan opened #51 "Session Expire Immediately"
I've setup HospitalRun server in an LXC on top of Ubuntu server. Docker was installed and the install went fine. Since initial access requires GUI login from localhost, I've managed to enable xfce and connect via VNC.

Default initial login works, but a pop up would immediately comes up and say "Session expired..."

p/s: I'm saying "initial access requires GUI login from localhost", because access

[2017-05-31 04:41] mridzuan commented on #49
I've setup HospitalRun server in an LXC on top of Ubuntu server. Docker was installed and the install went fine. Since initial access requires GUI login from localhost, I've managed to enable xfce and connect via VNC.

Default initial login works, but a pop up would immediately comes up and say "Session expired..."

p/s: I'm saying "initial access requires GUI login from localhost", because access

[2017-06-08 05:32] tamdaovssc commented on #49
Dear all

I have problems too.

[2017-06-13 09:01] mariusa commented on #11
Is there any API to get data in/out of hospitalrun server that other apps could use?
examples: create patient, read patient details
Couldn't find any docs. Thanks

[2017-06-14 01:13] tangollama commented on #11
@mariusa there is not presently an API. That would certainly be a welcome addition to the server project if you or someone was interested in investing the time to build it. Presently, the project is generally focused on features and functions; but - as it's an OSS project - that can change with community input / energy.

[2017-06-14 18:56] garylm opened #52 "Server Not running on Reboot"
Using Docker installed on DigitalOcean Ubuntu Server.  Install ran smoothly.  Prior to Reboot, was able to log into HR just fine.   After server Reboot, none of the Docker images are running.

"docker ps -a" gives me a listing of images, but None are running.   I tried "docker start hospitalrun" but that errors out complaining of missing image services.  I do not know proper order of re-starting t

[2017-06-15 00:47] tangollama commented on #48
The command in the scripts works for me. Was it malfunctioning for you? If so, what's the error?

[2017-06-15 01:10] garylm commented on #48
Joel, no error.  As I said, it is completely working before rebooting the server.  Then Docker is running but none of the images have been started up.  It is like there is a startup script to be run on reboot.

Thanks,

Gary
Gary Miller
gary@groupmiller.com<mailto:gary@groupmiller.com>

From: Joel Worrall [mailto:notifications@github.com]
Sent: Wednesday, June 14, 2017 5:48 PM
To: HospitalRun/hosp

[2017-06-16 02:13] garylm commented on #52
Also cannot connect to Couchdb on port 5984 for admin even if I use "docker start couchdb".  "docker ps" shows that the container is running.  Curl tells me that port 5984 is not open.

[2017-06-16 02:37] garylm opened #53 "Error in install instructions "Alternative Instructions" includes elasticsearch but Not logstash"
The Docker install includes logstash .  This seems to imply that the "manual" install instructions are missing something.

[2017-06-16 03:23] garylm commented on #52
Now mostly working.  It is necessary to run "docker-compose up -d" on startup of the server.

[2017-06-16 06:49] garylm commented on #52
Documentation needs the additional step of adding "docker-compose up -d" to run on startup of the server.  I personally added the docker-compose in a script that is run by cron with @reboot.

[2017-06-16 06:49] #52 closed

[2017-06-16 06:52] garylm opened #54 "Docker install instructions need a line regarding "docker-compose up -d" on startup of the server."
"Run "docker-compose up -d" on startup of the server." needs to be added to the Docker server install discussion at https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md

[2017-06-16 06:54] garylm commented on #48
See #52 for solution

[2017-06-16 06:54] #48 closed

[2017-06-16 06:59] garylm opened #55 "Docker YML host name not working with format "owh.mydomain.com""
HR runs fine locally in a browser on the server as http://localhost:8055.  BUT will not run as http://owh.mydomain.com.  This is the domain name specified in the yml file.

[2017-06-16 07:06] garylm opened #56 "Docker Server - No access to CouchDB"
With the Docker server install on Ubuntu Server, there is no port 5984 couchdb service running.  Thus no way to manage the database.  However, HR is allowing me to enter patients and change lists.

[2017-06-19 18:05] garylm commented on #51
I am now experiencing the same issue.  Last weeks install worked at localhost:8055.  Now when I log in it immediately pops up that the session has expired!

[2017-06-19 18:18] lalluanthoor opened #57 "Optimizing Production Deployment"
Hi team,

I was searching through the GitHub when I came across this project. As a developer working in Healthcare field, I would like to contribute to the project as well.

These are some suggestions/questions that came to my mind after a quick look through the repository.

- The NodeJS part is scattered across the repository. It could be moved to a single folder along with the `Dockerfile`. This

[2017-06-20 19:32] jkleinsc commented on #56
@garylm looking at the Docker setup, I think couchdb is mapped to port 5985:
https://github.com/HospitalRun/hospitalrun-server/blob/master/docker-compose.yml#L38

[2017-06-20 19:39] jkleinsc commented on #57
@lalluanthoor thanks for your interest in this project.  If you would like to contribute a PR with Docker improvements that would be gladly welcomed!

As far as Kubernetes or Docker Swarm, we currently don't have anyone involved in the project who has experience in those environments, but we would love to eventually support more deployment options.

We do not currently have a a CI-CD pipeline setu

[2017-06-20 19:51] jkleinsc commented on #54
@garylm it appears to be already documented as step 4 here:
https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md#step-by-step-guide

Or am I misunderstanding what you are asking?  If so, can you clarify what you think needs to added where?

[2017-06-20 20:14] jkleinsc commented on #56
@garylm I just verified this.  Go to localhost:5985 when using Docker to access CouchDB

[2017-06-20 20:14] #56 closed

[2017-06-20 20:15] jkleinsc commented on #55
@garylm The docker container sets up your domain as https, so you would have to access as https://owh.mydomain.com or if you wanted http,  http://owh.mydomain.com:8055

[2017-06-20 20:15] #55 closed

[2017-06-20 20:45] jkleinsc commented on #49
There was an issue with the couchdb setup script used by the Docker install.  I'll have a fix shortly.

[2017-06-20 20:46] jkleinsc commented on #51
There was an issue with the couchdb setup script used by the Docker install.  I'll have a fix shortly.

[2017-06-20 20:47] #49 closed

[2017-06-20 20:47] #51 closed

[2017-06-20 20:54] jkleinsc commented on #49
This issue has been fixed.  You will need to get the latest from GitHub and then run the following:
[code]

[2017-06-20 20:54] jkleinsc commented on #51
This issue has been fixed.  You will need to get the latest from GitHub and then run the following:
[code]

[2017-06-20 21:02] jkleinsc commented on #33
Snyk is no longer running on npm install so this isn't an issue anymore.

[2017-06-20 21:02] #33 closed

[2017-06-20 22:12] garylm commented on #54
It requires adding a script on reboot that runs "docker-compose up -d" .  Happily I just updated to the latest github hospitalrun-server that you just fixed & it now "mostly" works.   The 8055 and 443/80 port services are now working.

[2017-06-20 22:16] garylm commented on #54
Couchdb management service still does not run.   localhost:5985 yields "{"couchdb":"Welcome"... version, etc.   Port 5984 has no response.

[2017-06-20 22:32] garylm commented on #51
You are working wonders.  I reloaded from github and did the build, then rebooted and ran my "docker-compose up -d"  and then HR was totally working.
(still have to figure out how to manage CouchDB.  localhost:5985 yields the text string of version #, etc.  Do I need to do some kind of Futon install?

[2017-06-20 22:42] jkleinsc commented on #51
@garylm go to localhost:5985/_utils

[2017-06-20 22:50] garylm commented on #51
My dumb.....  I was used to the "_utils" when working with the FrontEnd.

So...  How do I get updates in the future without impacting the data in couchdb.  When I just did it to get your updated script, it overwrote.   Nothing of value, just noticed it was a new database.

[2017-06-20 23:09] garylm commented on #55
Remote access worked fine as soon as I got your Docker update in place.  Since I do not have IT privileges at OWH I took the short cut of adding to my personal domain as owh.groupmiller.com.
AGAIN THANKS I probably banged my head against this for 20+ hours before starting to yell at HR folks.

[2017-06-20 23:11] garylm commented on #56
Works after your script update and being reminded about "_util"

[2017-06-20 23:15] garylm commented on #54
BTW: It is still the case that based upon the install, after rebooting, only Docker is running.  "docker ps" yields a blank table.   That is why I have to run "docker-compose up -d"

[2017-06-21 14:22] jkleinsc commented on #54
@garylm I get what you are saying now.  I think docker-compose.yml could be changed to automatically run the containers on restart but it currently doesn't do this.  This document describes the restart parameter that can be used: https://docs.docker.com/compose/compose-file/#deploy

[2017-06-21 14:25] jkleinsc commented on #50
@chinmaybhatk the config file by default defines the couchdb as being on a host called couchdb.  If you are running the database on the same server as HospitalRun, change the following line (line 2) in config.js from:
[code]
to:
[code]

[2017-06-25 03:06] lalluanthoor commented on #57
@jkleinsc I have already submitted a PR #59  for the first part of my questions.

For the second part, I was going through how to setup automated Docker image builds out of a Github repository. Docker Hub already provides [this feature](https://docs.docker.com/docker-hub/github/). But for this to work, we might need to split the repository into multiple repositories, with each one producing a sing

[2017-06-26 15:15] jkleinsc commented on #57
@lalluanthoor I think setting up automated Docker image builds would be great.  If I understand it properly, I think we would need three repos:
1 - HospitalRun -- probably use this repo (hospitalrun-server)
2 - HospitalRun logstash
3 - HospitalRun nginx

It looks like the couchdb and elasticsearch containers are prebuilt containers.

[2017-06-27 14:32] lalluanthoor commented on #57
@jkleinsc

### Proposal

#### Assumptions
 - It is OK to store default credentials in source code.

#### Decomposition of Current Repository
 - hospitalrun-server
   - `conf` folder
   - `patientimages` folder? I don't know why this folder is there.
   - `utils` folder
   - `.dockerignore`
   - `.eslintignore`
   - `Dockerfile`
   - `app.js`
   - `config-example.js`
   - `package.json`
 - hospital

[2017-06-27 21:17] jkleinsc commented on #57
@lalluanthoor looks good to me.

As far as patientimages, it is a directory that needs to exist for the server (patient photos are saved here); Also there should be an `/attachments` directory.  They need to exist in the running container.

[2017-06-28 08:28] lalluanthoor commented on #57
@jkleinsc I need some clarifications.

- The `patientimages` and `attachments` are part of which server? Node or Nginx?
- Are they located in the site root or file system root?

[2017-07-02 10:43] Paredo opened #61 "Git Clone AUthentication Issues"
I try to clone the repository and i keep getting this Below

git clone git@github.com:HospitalRun/hospitalrun-server.git
Cloning into 'hospitalrun-server'...
The authenticity of host 'github.com (192.30.253.112)' can't be established.
RSA key fingerprint is SHA256:nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8.
Are you sure you want to continue connecting (yes/no)? yes
Warning: Permanently added 'git

[2017-07-03 14:35] jkleinsc commented on #57
@lalluanthoor `patientimages` and `attachments` are part of the Node server.  It needs to be able to write to those directories and serve files from those directories.  They are located at site root, dictated by the value set in config.js (defaults to patientimages and attachments under the node app root directory).

[2017-07-04 02:39] lalluanthoor commented on #57
@jkleinsc thank you. Could you also create the empty repos? I don't have write access.

[2017-07-04 14:38] lalluanthoor commented on #61
Try to fork the repo to your account and then cloning it. Only HospitalRun admins will have ssh access to the original repo.

If you want to clone the repo for trying it out, use the https url.

[2017-07-05 06:38] baoqchau commented on #47
hi @jkleinsc. I want to help with this issue. Would you like to help me identify which part of `inv-import.js` should I change to fit with new data using ember-pouch schema? Thanks a lot.

[2017-07-05 12:42] jkleinsc commented on #57
@lalluanthoor I created the repos.  For the "hospitalrun" one, use hospitalrun-deploy.

[2017-07-05 18:17] lalluanthoor commented on #57
#### PR Updates
1. The NodeJS components remain in the [current repository](https://github.com/HospitalRun/hospitalrun-server/).
1. The Nginx component moved to it's [own repository](https://github.com/HospitalRun/hospitalrun-nginx/).
1. The LogStash component moved to it's [own repository](https://github.com/HospitalRun/hospitalrun-logstash/).
1. The Docker Compose component moved to it's [own re

[2017-07-06 15:09] lalluanthoor commented on #57
@jkleinsc Is there any specific reason why the logstash configuration is loaded during runtime rather than adding it to the image directly? If not, I would like to make it part of the image build process and remove the volume mounting from the `docker-compose.yml`.

[2017-07-06 15:13] lalluanthoor commented on #57
I have also closed three of the PRs for safety.

[2017-07-06 15:27] jkleinsc commented on #57
@lalluanthoor I'm not sure.  I can't think of why it would need to be done one way vs the other.  @mofesola might be able to explain why it was built that way.

[2017-07-14 14:19] robertkeizer commented on #5
What is the status of this at the moment? I would be interested in working on this if it is still a problem spot. I've spent weeks in the past dealing with pouchdb/couchdb partial replication.

[2017-08-02 10:41] KenyanGeek commented on #47
@baoqchau i am really stuck on this issue any help would be appreciated...:-)

[2017-08-03 09:39] itsclint opened #65 "trouble logging into hospitalrun"
i've been having trouble logging into hospitalrun

[2017-08-04 19:58] rwanyoike commented on #47
Hi @jkleinsc :), `ember-pouch` is expecting a CouchDB doc field to be _wrapped_ in a `data` object, something like:

[code]

but `inv-import.js` is generating CouchDB docs **without** this data object, something like:

[code]

What you're looking for are functions inside of `inv-import.js` (e.g [`addPurchase`](https://github.com/HospitalRun/hospitalrun-server/blob/524eaa8850170ccee99142614d8d47354

[2017-08-05 02:42] tangollama commented on #65
@itsclint can you be more specific? Also, feel free to find me on Slack under the same handle. No promise I can fix your problem, but I'm happy to try to respond.

[2017-08-05 02:43] tangollama commented on #61
Thanks @lalluanthoor for replying. Unless there's a specific documentation issue here to resolve, closing.

[2017-08-05 02:43] #61 closed

[2017-08-05 02:47] tangollama commented on #9
Agreed, but given the age of the issue and scope, closing. If we want to create specific issues for specific areas in which to add tests, I'm 100% on board.

[2017-08-05 02:47] #9 closed

[2017-08-05 02:48] #50 closed

[2017-08-05 02:49] tangollama commented on #47
@rwanyoike would you have interest in working on this?

[2017-08-05 02:51] tangollama commented on #53
Thanks for pointing this out @garylm. Given that you've been diving into the deployment process, any chance you'd like to submit a PR for this?

[2017-08-05 02:51] tangollama commented on #54
@garylm same question here? :)

[2017-08-05 10:29] KenyanGeek opened #66 "Data import Challenges"
I have been trying to import data and have hit snags  in the following areas:

Inventory: There was an issue out there on using utils script to import data. Anybody managed to import an inventory list?

Labs and Imaging: The "backend" meant to update the lab and imaging procedures is "broken."i.e. There is no upload button on the look up list on these as well as ways to adjust the type as is provi

[2017-08-05 17:43] rwanyoike commented on #47
@tangollama #67 until a better solution comes along...

[2017-08-07 13:42] jkleinsc commented on #7
This issue was resolved with pr #41

[2017-08-07 13:42] #7 closed

[2017-08-16 13:36] seyyah opened #68 "Production Environment Gives 502 Gateway Error"
I created the Docker 17.06.0-ce on 16.04 Droplet and composed hospitalrun-server docker container. I done DNS config, installed nginx and configured ufw.

I follow the [Step-by-Step Guide](https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md) to deploy.

My dockers are healthy,

[code]

`netstat` command's output is,

[code]

My droplet' nginx configuration file is,

[

[2017-08-18 14:51] garylm commented on #68
My approach was slightly different in that the Digital Ocean instance was intended as a quasi production server.  It is being used for data setup and training by folks in the US and Africa.
- Ubuntu 16.04 Server with all apt-get updates.
- Docker insalled
- HR+ Server version installed by following the directions at -
https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.m

[2017-08-21 10:26] seyyah commented on #68
Thank you @garylm reply and help.

The path we are following to deploy is slightly different from ours

1. Firstly, you select Ubuntu droplet from DigitalOcean
2. then apt-get update
3. Install docker
4. Follow the [instructions](https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md)

Our approach is

1. Firstly, we select Docker 17.06.0-ce on 16.04 Droplet (docker inst

[2017-09-26 16:21] mariusa opened #70 "Please consider Postgres as a DB alternative"
Using a standard SQL database, backed by many enterprises, would help a little in convincing potential customers to consider switching to HospitalRun.
Also, standard existing tools would work too, no need to write custom scripts to export/import CSV.

Thanks

[2017-09-29 12:44] tangollama commented on #70
Thanks for the feedback. We chose a document database due to the offline first objectives. If others see value in porting the interface a relational model, that's a worthy exercise; but it's not the focus of this project.

[2017-09-29 12:44] #70 closed

[2017-09-29 13:22] tangollama opened #71 "Implement Read and Write of FHIR Person object"
Implement routes and logic to read and write the FHIR Person object into the HospitalRun database. http://hl7.org/fhir/person.html

This issue is a part of the FHIR Implementation project. See here: https://github.com/HospitalRun/hospitalrun-server/projects/1 Also see background documentation here: https://drive.google.com/open?id=1wqA0fufYl6TL338kiC2o2nK96-OBt_gZPJ5GGsomdFY

[2017-09-29 13:23] tangollama opened #72 "Implement Read/Write of the FHIR Patient Object"
Implement routes and logic to read and write the FHIR Person object into the HospitalRun database. http://hl7.org/fhir/patient.html

This issue is a part of the FHIR Implementation project. See here: https://github.com/HospitalRun/hospitalrun-server/projects/1 Also see background documentation here: https://drive.google.com/open?id=1wqA0fufYl6TL338kiC2o2nK96-OBt_gZPJ5GGsomdFY

[2017-09-29 13:24] tangollama opened #73 "Implement Read/Write of the FHIR Condition Object"
Implement routes and logic to read and write the FHIR Condition object into the HospitalRun database. http://hl7.org/fhir/condition.html

This issue is a part of the FHIR Implementation project. See here: https://github.com/HospitalRun/hospitalrun-server/projects/1 Also see background documentation here: https://drive.google.com/open?id=1wqA0fufYl6TL338kiC2o2nK96-OBt_gZPJ5GGsomdFY

[2017-09-29 13:25] tangollama opened #74 "Implement Read/Write of the FHIR Procedure Object"
Implement routes and logic to read and write the FHIR Condition object into the HospitalRun database. http://hl7.org/fhir/procedure.html

This issue is a part of the FHIR Implementation project. See here: https://github.com/HospitalRun/hospitalrun-server/projects/1 Also see background documentation here: https://drive.google.com/open?id=1wqA0fufYl6TL338kiC2o2nK96-OBt_gZPJ5GGsomdFY

[2017-09-29 13:27] tangollama opened #75 "Implement Read/Write of the FHIR Medical Administration Object"
Implement routes and logic to read and write the FHIR Medical Administration object into the HospitalRun database. http://hl7.org/fhir/medicationadministration.html

This issue is a part of the FHIR Implementation project. See here: https://github.com/HospitalRun/hospitalrun-server/projects/1 Also see background documentation here: https://drive.google.com/open?id=1wqA0fufYl6TL338kiC2o2nK96-OBt_gZ

[2017-09-29 13:29] tangollama opened #76 "Implement Read/Write of the FHIR Allergy Object"
Implement routes and logic to read and write the FHIR Allergy object into the HospitalRun database. http://hl7.org/fhir/allergyintolerance.html

This issue is a part of the FHIR Implementation project. See here: https://github.com/HospitalRun/hospitalrun-server/projects/1 Also see background documentation here: https://drive.google.com/open?id=1wqA0fufYl6TL338kiC2o2nK96-OBt_gZPJ5GGsomdFY

[2017-09-29 13:31] tangollama opened #77 "Implement the Read/Write of the FHIR Family Member History Object"
Implement routes and logic to read and write the FHIR Family Member History object into the HospitalRun database. http://hl7.org/fhir/familymemberhistory.html

This issue is a part of the FHIR Implementation project. See here: https://github.com/HospitalRun/hospitalrun-server/projects/1 Also see background documentation here: https://drive.google.com/open?id=1wqA0fufYl6TL338kiC2o2nK96-OBt_gZPJ5GGs

[2017-10-04 12:21] seyyah commented on #68
We have solved this problem with mo1.

[code]

[code]

[2017-10-04 12:21] #68 closed

[2017-10-08 23:10] Selvaticus commented on #18
Hi All,

Is help still needed/wanted on this issue?

[2017-10-08 23:32] tangollama commented on #18
Diago: in a few words - yes please.

[2017-10-20 10:26] manikandanndz opened #78 "elasticsearch_hr Not running"
Hi,

I'm trying to install hopitalrun, but after configuring and running docker, one of the instance is not starting.

[root@hospital-test ~]# docker ps -a
CONTAINER ID        IMAGE                                                 COMMAND                  CREATED             STATUS                      PORTS                                        NAMES
c27fee3d3ca6        hospitalrun_nginx

[2017-11-19 01:10] ikandars commented on #78
+1 with this issue

[2017-11-24 23:50] jkleinsc commented on #65
Closing due to lack of response.

[2017-11-24 23:50] #65 closed

[2017-12-04 19:42] Bikraji opened #82 "Performance issues"
Hi, I am experiencing serious performance lack in Hospital Run.
Specifically client side, the browser just hangs.
I think its due to PuchDb, any pointers or improvement suggestions will be greatly appreciated.

[2017-12-26 14:22] openmrsegypt opened #84 "Accessing HospitalRun through lan computers"
I recently installed hospitalrun on ubuntu 16 using docker

i want lan computers connected to same network to access the HospitalRun

[2017-12-30 15:18] openmrsegypt commented on #84
@tangollama can you please help

[2017-12-31 10:03] openmrsegypt commented on #84
can anyone please reply
what the hell is this !!!!

[2018-01-01 19:10] p-mcgowan commented on #84
Hey @openmrsegypt, I'm not associated with the project but I'm sure the maintainers are busy with family over the holidays.

I had no problems connecting to my HR server (ubuntu 16.04 and 17.04) from LAN. I was not running docker but hosting it locally instead, so if you're running it in a container then maybe check docker docs for lan setup instructions.

It might help if you list the steps you t

[2018-01-01 20:08] openmrsegypt commented on #84
how can i install it without docket
it seems i am not able to understand docket networking

On Jan 1, 2018 9:10 PM, "Pat McGowan" <notifications@github.com> wrote:

[2018-01-01 20:46] p-mcgowan commented on #84
Follow the alternative instructions here
https://github.com/HospitalRun/hospitalrun-server/blob/master/README.md#alternative-installation
You basically just need to serve the files after downloading stuff like couch and elastic search.
If you are only trying to connect locally then you don't need to host anywhere, you should be able to connect to LAN assuming you have forwarded the appropriate por

[2018-01-02 12:09] openmrsegypt commented on #84
can you please provide clear instructions on how to install couchdb 1.6

it is unavailable in couchdb website version 2.x are the only available

sorry for bothering you

[2018-01-03 11:48] p-mcgowan commented on #84
No problem. If you're on Ubuntu, `sudo apt-get install couchdb` will install 1.6.1 (if I recall correctly) since Ubuntu packages are not up to date with the newest couch. If that installs couch 2.x, the  you will need to do `sudo apt-get install couchdb=1.6.1-4ubuntu-something-I-cant-remember`. This link has examples https://askubuntu.com/questions/428772/how-to-install-specific-version-of-some-pa

[2018-01-03 18:53] openmrsegypt commented on #84
how to run the hospital run server forever

[2018-01-04 11:37] openmrsegypt commented on #84
![screenshot from 2018-01-04 13-35-31](https://user-images.githubusercontent.com/34840635/34561755-382143f2-f154-11e7-84c6-24ed57c701be.png)
@p-mcgowan
i installed logstash and elastic seearch and all other commands

i get stuck on searching

[2018-01-04 19:42] openmrsegypt commented on #84
+
another problem
when accessing the site from lan i get stuck on login after i enter the username and password

[2018-01-05 11:34] openmrsegypt commented on #84
due ti multiple issues .
i will try to install it via panamx and see how it goes

[2018-01-05 22:07] p-mcgowan commented on #84
You could mpve this to the slack channel, as it sounds closer to IT issues rather than codebase issues, and more people may be able to help you there if you still have issues. Thr link to the slack is on the hospitalrun website

[2018-01-23 15:28] Reklen opened #87 "deployment on VPS with docker"
I followed the steps building hr-server on VPS using docker-compose but it fails all the time.

here are the logs for each container:

**# hospitalrun:**

`hospitalrun      | > hospitalrun-server@1.0.0-beta start /usr/src/app
hospitalrun      | > node app.js
hospitalrun      |
hospitalrun      | Loading raml proxy - this may take a while...
hospitalrun      | Error getting configurations to update

[2018-02-14 22:25] jrab66 opened #89 "VPS docker deployment does not work"
already git clone the hospitalrun-server, change the DOMAIN-NAME in the docker-compose.yml  but when i run docker-compose up --build -d  crash with the following error.

ERROR: Service 'hospitalrun' failed to build: The command '/bin/sh -c npm install --loglevel silent' returned a non-zero code: 1

[2018-02-16 00:27] thorsteinsson commented on #89
I looked into it and there's this error from `npm install`.

[code]

Which means that `npm install` does not have access to the `git` command. That's because it's not included in the slim version of the node docker image. To fix this you can edit the first line in `Dockerfile` and change it to `FROM node:boron` (remove -slim).

I'm not sure what is the proper fix (I saw this project for the first

[2018-02-16 09:19] stukalin commented on #89
@thorsteinsson this could be a proper fix. However it is strange noone has noticed it before. The file has been changed in June as of #59. Could you maybe revert the changes to the Dockerfile and make a new PR?

[2018-02-16 14:36] thorsteinsson commented on #89
It's because one of the npm dependencies changed their deps to use `github:` instead of a version. That uses git to fetch the package.

So it's a dep that broke this, no change in this repo.

[2018-02-16 14:38] thorsteinsson commented on #89
It's best if we can continue using the slim images (about 50mb instead of 200mb) or get slim + git image. It does make sense to make this fix now so that it doesn't break for everyone and find a better image later. I'll make a PR later today.

[2018-02-16 14:47] stukalin commented on #89
@thorsteinsson yeah, sure let's just install git on the slim with apt-get or what does this image have

[2018-02-27 14:43] drakemedic opened #91 "Patient photos not uploading correctly"
hospitalrun-server running on Ubuntu VPS via docker-compose.

When I attach a photo to the patient record in chrome, it displays in the browser. If I then load the record in another browser, or in chrome on a different machine, the photo is not visible. No image is present in the patientimages directory on the server either.

If I attach a photo using firefox, the image does not appear in the reco

[2018-03-06 02:29] #91 closed

[2018-03-06 08:06] #89 closed

[2018-03-15 15:16] jwamoo commented on #84
I have been trying to get install HospitalRun on Ubuntu 14.04.
Followed the alternative instruction till I got to IV

IV. Setup CouchDB for HospitalRun:
   a. Download https://github.com/HospitalRun/hospitalrun-frontend/blob/master/script/initcouch.sh
   b. If you have just installed CouchDB and have no admin user, simply run initcouch.sh with no
       arguements. A user hradmin will be created w

[2018-03-15 21:50] p-mcgowan commented on #84
Not sure, but you might try downloading the script that the redirection notice points you to in your error above.
=> https://github/HospitalRun/hospitalrun-frontend/blob/master/script/intcouch.sh

[2018-03-24 19:04] Selvaticus commented on #18
Hi All,

Tried to have a first stab at the problem and how the system "would" work. This will most likely change based on your feedback.

### Model

[code]

- SourceType: Would describe the document originating the notification, this would allow for richer options on notification presentation
- Source: The origin document identification.
- Persisted: If the notification should be persisted or just

[2018-04-05 19:35] pepobit opened #94 "Erro run docker-compose"
When run command **docker-compose up --build -d**

Occurs next error

_Step 5/16 : COPY conf/certbot-auto /usr/bin/
 ---> Using cache
 ---> 8ec6386b337c
Step 6/16 : RUN  certbot-auto --os-packages-only --non-interactive
 ---> Running in 4f912a8fce72
/bin/sh: 1: certbot-auto: not found
ERROR: Service 'nginx' failed to build: The command '/bin/sh -c certbot-auto --os-packages-only --non-interactive'

[2018-04-08 15:07] stukalin commented on #94
Hmmm. Just tried to re-run it and it worked. What's your host OS? Maybe this could somehow be a problem...

[2018-04-10 15:24] leogzl opened #96 "SSL Certification Issue"
The SSL server seems not working immediately.

1. The opening port is 8055 but certbot requires opening port 80
2. The command in the nginx/Dockerfile should be:
It should be /etc/nginx/conf.d/defaultssl.**conf**
[code]

So I tested like this:
1. Create the SSL
[code]
2. Run the `docker-compose up --build -d`

[2018-04-10 15:27] leogzl commented on #96
Addional comment:
I commented out all the certbot syntax on `nginx/conf/entrypoint.sh`

[2018-04-12 05:55] dhavala commented on #94
I have a Google Compute Engine VM [n1-standard-2 (2 vCPUs, 7.5 GB memory) with 20GB SSD persistent disk] with Ubuntu 16.04 LTS host os. Installed git, docker, and docker-compose.

I have updated the firewalls, dns, and corresponding nginx conf entry (DOMAIN NAME).

I can build `docker-compose up --build -d` and see for a moment all containers run. But after few mins, the hospitalrun container shut

[2018-04-12 10:10] dhavala commented on #94
[update]
was able to run hrun "front-end' via Docker-Compose after adding an additional command
`RUN npm config set unsafe-perm true` to
https://github.com/HospitalRun/hospitalrun-frontend/blob/master/Dockerfile
right before
`RUN npm install -g ember-cli@latest && npm install -g bower
Otherwise, npm fails to install ember-cli and as a result bower is also not installed.

With that I am able to lau

[2018-04-12 10:16] dhavala commented on #94
[update]
upon inspecting the traffic using Chrome Dev, realized that the connection is unsecure (http) and service workers are not registered. It must be with not enabling https I guess.

[2018-04-12 12:47] dhavala commented on #94
[update]

I managed to get hrun+ front-end working on a google compute engine VM.  I set up an nginx reverse proxy on the same instance, installed certbot to provision ssl certificates.

[setting up nginx reverse proxy (with node)](https://www.digitalocean.com/community/tutorials/how-to-set-up-a-node-js-application-for-production-on-ubuntu-16-04)

[adding let's encrypt ssl to nginx](https://www.di

[2018-04-17 01:13] MasterChenGitHub opened #97 "https://beta.hospitalrun.io/ can not login"
Demo site can not login!

[2018-04-23 21:24] drakemedic commented on #87
Same here.

[2018-04-23 21:31] drakemedic opened #98 "Docker-compose installation fails on VPS"
Ubuntu 16.04 vps.
Fresh install.
sudo apt-get install git docker docker-compose
Modified docker-compose.yaml appropriately
docker-compose up --build -d

All containers except elasticsearch_hr and hospitalrun start. These two exit immediately.
Nothing accessible through webpage - security/certificate/connection refused messages.

Change permissions on hospitalrun/data to regular user: elasticsearch

[2018-04-24 21:55] drakemedic commented on #96
@tangollama I have submitted a very minor PR to correct the nginx/Dockerfile. It's my first attempt at a PR, so hopefully I've done it properly!

[2018-04-27 12:11] greenkeeper[bot] opened #100 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/HospitalRun/hospitalrun-server/compare/master...HospitalRun:greenkeeper%2Fupdate-to-node-10"

[2018-04-30 11:41] drakemedic commented on #98
docker logs hospitalrunserver_nginx_1
2018/04/30 11:34:08 [warn] 13#13: conflicting server name "_" on 0.0.0.0:80, ignored
nginx: [warn] conflicting server name "_" on 0.0.0.0:80, ignored
2018/04/30 11:34:08 [warn] 13#13: conflicting server name "localhost" on 0.0.0.0:80, ignored
nginx: [warn] conflicting server name "localhost" on 0.0.0.0:80, ignored
2018/04/30 11:34:36 [error] 14#14: *1 connect(

[2018-05-04 06:42] stukalin commented on #96
@drakemedic @leogzl I've merged the PR. If that fixes the problem let's close the issue then.

[2018-05-07 14:49] drakemedic commented on #96
It doesn't stop the installation failing unfortunately. But it corrects the typo.

[2018-05-07 15:48] leogzl commented on #96
I may suggest the certification is built separately using my method above, only if SSL is necessary.
Running it as the package on building seems not a good idea.

There are a lot of factor that makes the SSL creation failed, but it should not affect the build of the docker itself.

[2018-05-11 14:30] stukalin opened #103 "Add a bit of CI for the project"
Currently when we are pushing something in the master branch we do not perform any checks at all and sometimes our containers are broken after commits which seemed to be pretty safe. Like that case when updating a minor version of the `osprey` package screwed everything up.

I was wondering if there is a way of running `docker-compose up` in Travis CI and checking at least that `localhost:8055` gi

[2018-05-11 14:35] stukalin opened #104 "`logstash` should wait till the DB is created"
On a very first run of `docker-compose` there is an issue when the `logstash` is trying to reach the `main` database on the `couchdb` container and since it takes some time to init there everything, e.g. to create a db, the `logstash` fails. It makes 3 tries to reach it and stops then. Or at least this plugin stops.

On consecutive re-runs of docker everything seems to be fine since the db is pres

[2018-05-11 15:29] #98 closed

[2018-05-12 16:40] drakemedic commented on #96
The edit doesn't seem to have happened - have I made an error?

[2018-05-14 10:04] drakemedic commented on #96
Ok, no probs. I think it doesn't work though - the cert generation failed and I had to install it separately to get hospitalrun working.

[2018-05-19 07:12] stukalin commented on #87
Should be fixed now. If not - please reopen

[2018-05-19 07:12] #87 closed

[2018-05-19 07:13] #78 closed

[2018-05-23 22:58] drakemedic opened #105 "Clarify inventory fields"
I have been looking at the inventory import function and need some clarification.
How do we handle the situation where the distribution unit is a box of e.g. 50 items,and we have a quantity of 300 items?
Should we add the number of items per box with the name and then quantity as the number of boxes?

Also, if items have a size, should that be appended to the name or is it possible to add more ter

[2018-05-25 14:43] tangollama commented on #105
Paul,

If you're consuming them (i.e. considering them "used" with regards to
stock mgmt or costing) one box at a time, it sounds like you have 6 units.
If you use them one at a time, then you'd register them as 300 units.

As for the second question - at present - that's multiple items that each
happen to have a different size. Feel free to submit a PR if you'd like to
see that changed.

On Wed,

[2018-06-03 23:02] aalmangour opened #106 "After installing with docker on local environment, I got an ERR_INVALID_REDIRECT"
Dear All,

I followed the steps in the guide of installing hospital run on a local server, after doing all the steps and navigating to xxx.xxx:8055 I got ERR_INVALID_REDIRECT.

I checked and found that port 8055 already has a service listening on. So I don't know where's the problem?

I'm using a virtual machine from Linode, OS Ubuntu 16.

Logs:
![image](https://user-images.githubusercontent.com/2

[2018-06-08 18:42] qasmaoui opened #107 "error gething Your session has expired. Please login to continue. on adding new users"
Hello , i managed to install hospital-server buth each time i want to add new user i get the error
Your session has expired. Please login to continue.
is this noraml !

[2018-06-09 00:03] MatthewDorner commented on #106
Mine (local server being accessed via IP) only works if I put "https://xxx.xxx.xxx.xxx" , without the 8055. If I fail to set up an SSL cert, the only way I got it to work is via localhost on the server itself.

[2018-06-15 06:12] AkhilMannuru opened #109 "Error creating push database! { Error: You are not a server admin."
Error creating push database! { Error: You are not a server admin.
    at Request._callback (/usr/src/app/node_modules/nano/lib/nano.js:252:15)
    at Request.self.callback (/usr/src/app/node_modules/nano/node_modules/request/request.js:185:22)
    at emitTwo (events.js:126:13)
    at Request.emit (events.js:214:7)
    at Request.<anonymous> (/usr/src/app/node_modules/nano/node_modules/request/req

[2018-06-17 23:31] MatthewDorner commented on #96
When SSL cert creation fails, it appears that it is applying the "default.conf" instead of "defaultssl.conf". But this "default.conf" doesn't work right and I think this is where a lot of people are ending up when they install, SSL fails and they just get weird http errors (invalid redirect, etc) when they try to access the server.

I changed some of the settings in "default.conf" and got it to se

[2018-06-18 09:35] drakemedic commented on #96
Yes, the "typo" appears not to be a typo as the script takes care of it.
However, as you say, the script doesn't work properly and it is necessary
to run the cert manually.

Paul

On Mon, 18 Jun 2018, 00:31 Matthew Dorner, <notifications@github.com> wrote:

[2018-06-18 15:11] MatthewDorner commented on #96
yeah, you probably did the same thing I did to use your own SSL cert: https://github.com/HospitalRun/hospitalrun-server/compare/master...MatthewDorner:ssl-workaround

But that just bypasses the automatic LetsEncrypt entirely, so now I'm trying for something that lets people do either one, like maybe if you copy your own cert into the conf folder, it'll use those and otherwise it'll try to use Lets

[2018-06-19 01:07] MatthewDorner commented on #96
https://github.com/HospitalRun/hospitalrun-server/compare/master...MatthewDorner:use-own-cert

experimenting with this. I made an extra argument in docker-compose.yml where you set "auto", "self" or "none" for your cert type. if you use "self" you also must replace the dummy cert files with your real ones. i'm not experienced with docker, nginx or ssl certs, so any feedback is appreciated.

[2018-06-19 06:47] stukalin commented on #109
Sorry, but that's very unclear. What did you do, what had you done?

[2018-06-26 11:14] pedrofmvcmartins commented on #94
@pepobit Finally was able to figure this error. I was also using Windows 10. After some trial and error switching auto-cert location I got to this error: [https://github.com/docker/labs/issues/215](url).

So the issue is with git for windows that converts LF to CLRF.
To solve it I delete the cloned project, went to git bash console (I was using sourcetree to clone) and ran
`git config --global cor

[2018-06-27 04:15] MatthewDorner commented on #96
ok, I think I know why the letsencrypt cert generation is failing. We don't open port 80, so we rely on the TLS-SNI-01 challenge which operates over port 443. But TLS-SNI-01 was disabled earlier this year due to a security bug and won't be re-enabled: https://community.letsencrypt.org/t/important-what-you-need-to-know-about-tls-sni-validation-issues/50811.

[2018-06-27 05:37] drakemedic commented on #96
Aha. That'll explain it. I could see that was happening, but didn't know
why. We'll done.

On Wed, 27 Jun 2018, 05:15 Matthew Dorner, <notifications@github.com> wrote:

[2018-06-29 04:02] AkhilMannuru commented on #109
Problem solved, Thanks :)

[2018-07-09 21:07] drakemedic opened #112 "Duplicate IDs"
This is an odd one, and I don't know if it can be replicated.
I have 3 different patients with the same ID - P00001. They were the first 3 patients created on the system and I didn't notice it happening at the time. Subsequent patients have incremented IDs. Presumably the system should not be able to do this?

I don't know how to replicate this one as all newly-added patients have unique IDs.

[2018-07-09 21:58] drakemedic commented on #112
I don't really remember, but it was probably a combination of different
browser, same pc and possibly another - but not at the same time!

I know that's not very helpful, but I just noticed it tonight and thought
it was strange.

On Mon, 9 Jul 2018, 22:27 Matthew Dorner, <notifications@github.com> wrote:

[2018-07-18 05:59] MatthewDorner commented on #112
it's happening if I use Firefox, but not Chrome. To reproduce:

- start with a database having >0 patients in it
- close HospitalRun tab and erase Firefox browser cache
- log in to HospitalRun, view list of patients. It will (incorrectly) show 0 patients. waiting for the database to sync doesn't seem to make any difference.
- add a patient. it will get P00001 even if that ID is already in use
- yo

[2018-07-19 02:54] MatthewDorner commented on #106
to update on this, on the current setup, port 8055 is http. the web server is set to redirect http traffic to https.  however, your installation probably failed to set up https access, so it can't redirect.

if your server has a publicly-accessible domain name and you entered the domain name in docker-compose.yml, you may be failing to get https set up due to the issue #111 is intended to fix. if

[2018-07-24 20:36] MatthewDorner commented on #112
OK, this behavior occurs if you refuse Push notifications. That's the pop-up that says something like "This website wants to send you notifications. Allow / Deny". And this is because the Push API is used to sync the database. Maybe it should be made more obvious that users need to Allow, since I and others Deny these requests out of habit.

[2018-07-25 09:32] drakemedic commented on #112
Indeed, I think it would need to be made explicit as many people refuse pop-ups routinely.
When I have installed hospitalrun, I usually accept the data storage request, but I don't think the push notification request shows every time if you have previously declined it.

[2018-08-21 03:50] donaldwasserman commented on #109
For future googlers:

I think this is caused from trying to access the containers outside of the internal docker services or bad username/password.

(I think).

[2018-08-21 03:50] #109 closed

[2018-08-21 03:50] donaldwasserman commented on #107
@qasmaoui Sorry we haven't gotten back, if this is still an issue, comment here adn we'll reopen!

[2018-08-21 03:50] #107 closed

[2018-08-21 03:53] #84 closed

[2018-08-21 03:53] #96 closed

[2018-08-21 03:54] #105 closed

[2018-08-21 03:56] donaldwasserman commented on #112
I'm going to close this issue and move it over to the front-end

[2018-08-21 03:56] #112 closed

[2018-08-23 15:40] mjibril opened #117 "Error in Hospital Run Docker Container"
I cannot seem to be able to start the hospitalrun docker container. This is the output after an attach.

`$ docker attach  hospitalrun

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    70  100    64  100     6   5991    561 --:--:-- --:--:-- --:--:--  6400
{"error":"unauthorized","re

[2018-08-31 07:37] sarzali07 commented on #94
When run command docker-compose up --build -d

Occurs next error

Pulling couchdb (couchdb:1.7.1)...
Pulling repository docker.io/library/couchdb
ERROR: Tag 1.7.1 not found in repository docker.io/library/couchdb

Regards

[2018-08-31 07:44] sarzali07 opened #118 "Error: docker-compose up --build -d"
After executing docker-compose up --build -d

Error comes

Pulling couchdb (couchdb:1.7.1)...
Pulling repository docker.io/library/couchdb
ERROR: Tag 1.7.1 not found in repository docker.io/library/couchdb

Regards

[2018-08-31 08:01] stukalin commented on #118
@sarzali07 that's strange. I've just pulled the image under the question. Probably you have some issues with docker itself. Could https://github.com/docker/distribution/issues/1947 or https://github.com/moby/moby/issues/26295 be any of help?

[2018-08-31 08:11] sarzali07 commented on #118
docker info             Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 0
Server Version: 1.12.6-cs13
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 0
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: null bridge host overlay
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Security Opt

[2018-08-31 08:12] sarzali07 commented on #118
I have ubuntu 14.04,
If possible send me command lines to install hospital run on local environment.

Regards

[2018-08-31 09:52] sarzali07 commented on #118
git clone git@github.com:HospitalRun/hospitalrun-server.git
Cloning into 'hospitalrun-server'...
The authenticity of host 'github.com (192.30.253.113)' can't be established.
RSA key fingerprint is SHA256:nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8.
Are you sure you want to continue connecting (yes/no)? yes
Warning: Permanently added 'github.com,192.30.253.113' (RSA) to the list of known hosts.
Per

[2018-09-01 14:52] donaldwasserman commented on #118
@sarzali07 That's weird - that should never happen. This is a publically available repo.

I think you need to follow the instructions here: https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

I suspect there is an issue with your git user on your machine.

[2018-09-01 14:54] donaldwasserman commented on #117
@mjibril Sorry for the delay about getting back with you.

What do you have set as your `config.js`?

You need to create a new `config.js` based on the values in `config-example.js`

[2018-09-01 17:12] Arjanguglani opened #120 "Help Setting up HostpialRun-Server on EC2 or any other service"
I have been trying for about two weeks to get HospitalRun-Server hosted on a server and accessible as a website for a hospital I am working with. I continually keep running into problems (current one right now is that CouchDB will not install). The instructions provided are not sufficient in describing how to host HospitalRun-Server. If anyone with experience setting up Hospital Run could provide

[2018-09-02 00:31] sbppy opened #121 "missing multi-language selection."
I found it in front-end ,but I can not found in hospitalrun-server , it is very useful.

[2018-09-02 01:34] donaldwasserman opened #122 "Add Configurable Frontend Install Option"
The current deployment setup uses the built assets in the `hospitalrun-frontend/public` folder. For many different reasons (testing, demos, build-specific options, etc) we should probably have a configuration to allow the server to build the ember app at install time, rather than pulling in a entire compiled version (although that should be the default).

### Acceptance Critera

* The default opti

[2018-09-02 06:27] stukalin commented on #122
Didn't quite understand why?

[2018-09-03 10:17] sarzali07 commented on #118
After all searching and modification Now I receive

docker-compose up --build -d
Pulling couchdb (couchdb:1.7.1)...
1.7.1: Pulling from library/couchdb
1c7fe136a31e: Pull complete
7d264534fc3c: Pull complete
d19f72163506: Pull complete
457a2d7a5f09: Pull complete
1adbe2b627b6: Pull complete
2142729480fe: Pull complete
023a3dfd2353: Pull complete
Digest: sha256:40554e2d5a54dbd588fdb6328c9e2b0a9f4da

[2018-09-03 11:37] sarzali07 commented on #118
Finally I manage to install

Successfully built 5fd1b68d96b9
Successfully tagged hospitalrun_nginx:latest
elasticsearch_hr is up-to-date
couchdb_hr is up-to-date
logstash_hr is up-to-date
Starting hospitalrun ... done
hospitalrunserver_nginx_1 is up-to-date

But when I type localhost it give UNABLE TO CONNECT INTERNET ERROR

[2018-09-04 10:12] sarzali07 opened #123 "Localhost not working"
![hospitalrun servver](https://user-images.githubusercontent.com/10739321/45025391-cbef5000-b054-11e8-8d57-f8f98fad57e8.png)

I manage to install hospitalrun server, but after install step 4, I type localhost as per step 5, UNABLE to connect internet.

Regards

[2018-09-04 18:37] MatthewDorner commented on #123
That is unfortunate. You may be having the same problems we're working on here and hope to have fixed soon: https://github.com/HospitalRun/hospitalrun-server/pull/119.

Would you be able to restart your containers by first doing "docker-compose down" to shut them down, and then "docker-compose up | grep hospitalrun" and then wait 10 minutes and show the resulting output?

This will allow me to con

[2018-09-05 11:50] sarzali07 commented on #123
$ docker-compose down
Removing hospitalrunserver_nginx_1 ... done
Removing hospitalrun               ... done
Removing logstash_hr               ... done
Removing elasticsearch_hr          ... done
Removing couchdb_hr                ... done
Removing network hospitalrunserver_default

$docker-compose up | grep hospitalrun
elasticsearch_hr is up-to-date
couchdb_hr is up-to-date
logstash_hr is up-to

[2018-09-05 18:32] MatthewDorner commented on #123
That's different than I expected, your nginx container is the one that's shutting down. There might be because of a problem related to the SSL certificate configuration, as described in step 3 of the guide here:
https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md

And you can post the logs from the nginx container by doing the same as you did above and using "docker-c

[2018-09-06 11:58] sarzali07 commented on #123
nginx_1          | Requested name 192.168.100.42 is an IP address. The Let's Encrypt certificate authority will not issue certificates for a bare IP address.
nginx_1          | 2018/09/06 05:43:54 [emerg] 218#218: host not found in upstream "hospitalrun" in /etc/nginx/conf.d/defaultautossl.conf:33
nginx_1          | nginx: [emerg] host not found in upstream "hospitalrun" in /etc/nginx/conf.d/defau

[2018-09-06 12:01] sarzali07 commented on #123
Again I run same command

docker-compose up | grep nginx
elasticsearch_hr is up-to-date
couchdb_hr is up-to-date
logstash_hr is up-to-date
Starting hospitalrun ...

ERROR: for hospitalrun  UnixHTTPConnectionPool(host='localhost', port=None): Read timed out. (read timeout=60)

ERROR: for hospitalrun  UnixHTTPConnectionPool(host='localhost', port=None): Read timed out. (read timeout=60)
ERROR: An HT

[2018-09-06 19:12] MatthewDorner commented on #123
It's because you have an IP address for the "DOMAIN_NAME" in docker-compose.yml. It needs a public domain name on the internet like "www.mydomain.com" in order to issue a SSL certificiate and validate it. If you're not on a publicly-accessible domain like that, you can use your own SSL certificate, see where it says "To instead use your own SSL cert..." here:

https://github.com/HospitalRun/hospit

[2018-09-08 00:37] MatthewDorner commented on #123
I merged the mentioned fixes in just now, so you should be good if you update to get the fixes and address your SSL issue.

[2018-09-08 00:37] #123 closed

[2018-09-08 00:53] MatthewDorner commented on #120
I just added some fixes for issues in the hospitalrun-server if you would like to update your code and try again. There is also new troubleshooting info in:

https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md

[2018-09-13 02:03] Arjanguglani opened #125 "hospitalrun-server_nginx_1 exited with code 1"
I was trying to setup Hospital Run Server on Google Cloud and I ran into the following error :

nginx_1          | Installation succeeded.

nginx_1          | Requested name 35.202.208.254 is an IP address. The Let's Encrypt certificate authority will not issue certificates for a bare IP address.

nginx_1          | 2018/09/13 01:56:47 [emerg] 218#218: BIO_new_file("/etc/letsencrypt/live/35.202.20

[2018-09-13 07:18] MatthewDorner commented on #125
It's because you can't use an IP address for the DOMAIN_NAME in docker-compose.yml. It needs to be a domain name on the internet like www.mydomain.com, so it can request an SSL cert for that domain from LetsEncrypt and validate it.

If you don't have your server on a public domain, you can change the SSL_TYPE from "auto" to "self" and use your own SSL cert files (may have to create yourself, you c

[2018-09-27 07:20] geordin opened #126 "Logo Customization"
Hi,

I have installed hospitalrun server in docker environment. How can I customize the logo and images.

Please help on this.

Thanks,
Geo

[2018-09-29 03:06] donaldwasserman commented on #122
@stukalin I added some more details if that makes more sense

[2018-09-29 03:08] donaldwasserman commented on #103
This could be accomplished by running a simple mocha test to do the above

[2018-09-29 03:24] donaldwasserman opened #127 "Write CI/CD Script to Deploy to Digitial Ocean"
Currently, there are no CI/CD abilities to deploy the server app anywhere. We need some basic deployment setup, so when we merge into a given branch, the code is automatically deployed to the appropriate environment.

### Key Results
- A deployment script, written in ES6+ that can run in travis with no hard-coded configuration options
- Deployments + post install work should be done automatically

[2018-10-01 00:16] #125 closed

[2018-10-02 19:41] drakemedic commented on #66
I agree, the system for adding lab types seems to be broken. It was working in previous installations.

[2018-10-02 20:28] donaldwasserman commented on #66
@KenyanGeek @drakemedic Can you connect with me on slack so I can take a look at some of data you're looking at using to see how we can resolve this issue?

[2018-10-05 11:29] akash65 opened #128 "Running npm start in server"
while running npm start commad inside hospital repo directory haveing error says no module found "yarn install".can anyone help me?

[2018-10-07 15:44] hpierce1102 commented on #128
Could you provide more info? I'm trying to install and run for the first time too and am not running into this one.

What you're describing sounds like `Error: Cannot find module 'yarn install'`. But I'm skeptical of that being the problem. Could you copy and paste the error verbatim here?

[2018-10-07 15:54] hpierce1102 opened #129 ""/bin/sh: 1: certbot-auto: not found" when running docker-compose up --build"
I'm trying to build the app locally for development purposes and am struggling to do so. I'm following the instructions in the [deployment guide](https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md#step-by-step-guide), but when I run `docker-compose up --build` the nginx container fails to build, providing this error:

[code]

My docker host is Windows 10 (against the

[2018-10-07 19:53] MatthewDorner commented on #129
If you want to develop on the frontend, where the main part of the application is, just clone and run the hospitalrun-frontend repository by itself.

You won't be able to develop on the frontend if you install hospitalrun-server, since it just gets the frontend as an npm package.

[2018-10-07 20:59] hpierce1102 commented on #129
Understood - my intention is to see if I can do anything to work out some outstanding [issues labeled with CI/CD ](https://github.com/HospitalRun/hospitalrun-server/issues?q=is%3Aopen+is%3Aissue+label%3ACI%2FCD)on this repository. While it might not be strictly necessary, I think it would be a Good Thing™ to have it running locally before spending any time trying to automate deploying/test/whateve

[2018-10-07 21:04] MatthewDorner commented on #129
OK. I've always used Ubuntu in a VM to run the server, so you could try that. But I'll set up Windows 10 and see if I have the same problem.

[2018-10-09 03:07] MatthewDorner commented on #126
It's not a feature we have now, but I know others have requested this and similar customization options so it would be nice to add.

[2018-10-09 03:29] MatthewDorner commented on #129
Tested on Win10, had the same problem as you. Went away after I set:

git config --global core.autocrlf false

and then deleted and cloned the repo again so it has the correct line endings. And then everything else appears to work.

[2018-10-11 07:30] MatthewDorner opened #130 "http to https redirect doesn't work"
Fails to redirect on VPS from 1and1 and Digital Ocean. It does work on my local VM with Ubuntu 16.04.

The redirect is the line in the nginx configs where it says "rewrite ^(.*)$ https://$host$request_uri" and when it's not working, it's because somehow both $host and $request_uri are blank. And those are nginx system variables (extracted from the http headers of the incoming request) so I don't k

[2018-10-11 17:32] donaldwasserman commented on #128
@akash65 This sounds like you're to start development on the frontend. You need to use https://github.com/HospitalRun/hospitalrun-frontend

[2018-10-11 17:32] #128 closed

[2018-10-23 02:06] koshyviv opened #132 "Error: docker-compose --build on Raspberry pi 3"
Am looking to start the server on my pi, but I'm not able to get through the docker build.
Are there no images for my architecture? Please let me know on how i can proceed with Docker.

**Error**
[code]

OS
[code]

Docker
[code]

Thank you.

[2018-10-25 02:03] MatthewDorner commented on #94
https://github.com/HospitalRun/hospitalrun-server/pull/131

Line endings issue should be helped by the above PR.

@sarzali07 has this error persisted for you? Seems like it could be a temporary issue with the docker repository?

@dhavala there have been fixes to the hospitalrun-server docker setup since your comments, so you could try again if you're still looking to get the server up. I'm not sur

[2018-10-27 16:55] hpierce1102 commented on #127
I'm spending some time on this. Here's my thoughts so far:

There seems to be some pre-existing travis-ci deployment stuff going on that's updating the docker registry with the latest images in `conf/travis-deploy.sh`. **However**, I'm not seeing that script being executed in any of the builds I'm looking through. I'm probably just looking in the wrong place.

At a high level, I think deployment w

[2018-10-27 19:28] donaldwasserman commented on #127
Hey @hpierce1102 One thing that's somewhat changed since I created this ticket is the existance of github actions. I think we'll be able to leverage some of that to do a lot of they heavy lifting (the hospital run org is currently on the waiting list for access.

[2018-10-29 07:18] bhx98 opened #133 "db structure"
Dears, I would appreciate for any help
I want to Analysis HospitalRun DB Structure in couchdb before using it
but even after inserting some test record i couldn't find any related data in couchdb(main and config db)
not in Hospital Server edition
not with hospitalrun win application

[2018-11-05 20:59] donaldwasserman commented on #133
@bhx98 Happy to help with this, i think you're best bet is to hop onto slack and ask your question there!

[2018-11-05 20:59] #133 closed

[2018-12-04 07:53] sthaiya opened #134 "Add option of auto billing"
There is need to auto bill clients and have them pay before service. For instance immediately a Visit is started for a client then we can auto bill them

[2019-01-02 00:30] wbuarque commented on #118
Hi @sarzali07 do you managed to connect?
I'm facing same problem here: Unable to Connect

[2019-01-02 04:33] MatthewDorner commented on #118
If you run `docker ps -a` when having this problem, do all 5 containers show up as running?

If your nginx container is shutting down it may be because of not setting up the SSL configuration. See the instructions in https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md.

[2019-01-02 06:12] sarzali07 commented on #118
@wbuarque I left this management system. very complex and not easy to manage by one person.

[2019-01-02 14:36] wbuarque commented on #118
Hi Matthew,

yes, exception is elasticsearch_hr, but is my server setup witch has lower memory. My SSL env is `none`.
Doing a `curl -X GET http://127.0.0.1` give me an 302 page.

[2019-01-08 07:49] habibhermes commented on #107
@qasmaoui Hi, have you been able to solve the issue? I am currently having the same issue.

[2019-01-09 08:31] habibhermes opened #136 "Health Insurance Claim"
Hello,
Thanks for the amazing job done to come up with this software.
I have gone through the various modules, but i didn't find anything concerning Health Insurance Claim. A module for health insurance where an hospital could generate claims report(customized) to be submitted to a health insurance company.
Please any advice on how this can be achieved.

regards,

[2019-02-09 15:08] shivaprashanthg opened #137 "Unable to downgrade from couchdb 2.x to 1.6.1"
Unable to downgrade from couchdb 2.x to 1.6.1  on ubuntu18.04, any help.

[2019-02-11 07:40] chaitanya-y opened #138 "Issue with couch db configuration and what databases to create to save data for hospital run server"
**Expected behavior:** I should be able to save the data in couch db database

**Actual behavior:** i am not able to save data into couchdb(what databases(specific names) i need to create in databse for hospital run server ).There is no proper documentation for couchdb hospital run server set up. I am creating patients list but data is not getting stored in database. I have attached image of exist

[2019-02-18 08:43] chaitanya-y commented on #137
hii shiva,
i am trying to create patient list but i am getting unauthorized you are not authorized to access this db how tom fix this?

[2019-02-18 08:45] chaitanya-y commented on #82
hii Bikraji,
i am trying to create patient list but i am getting unauthorized you are not authorized to access this db how tom fix this?

[2019-02-18 08:45] chaitanya-y commented on #134
hii sthaiya,
i am trying to create patient list but i am getting unauthorized you are not authorized to access this db how tom fix this?

[2019-02-18 08:48] chaitanya-y commented on #97
i am trying to create patient list but i am getting unauthorized you are not authorized to access this db how tom fix this?

[2019-02-19 12:52] #138 closed

[2019-02-19 12:53] chaitanya-y opened #139 "security issue - Not able to save data to database{"error":"unauthorized","reason":"You are not authorized to access this db."}"
I  am not able to save data in main database. I created security document also.
{"error":"unauthorized","reason":"You are not authorized to access this db."}
how to fix this?

[2019-02-19 12:59] chaitanya-y opened #140 "creating new user and users options not working - couchdb 2.3.0 how to fix this?"
creating "New User" and "Users" options not working. I am using hospitalrun-server for UI and couchdb 2.3.0 version . I am getting error as one popup coming saying your session is expired please login to continue.How to fix this?
share your solutions and some ideas atleast how to fix this to 2.3.0?
with 1.6.1 it is working fine but I want to use latest couchdb version 2.3.0.

[2019-02-21 09:30] p-mcgowan commented on #139
https://github.com/HospitalRun/hospitalrun-server#alternative-installation step 5.iv might solve it

[2019-02-21 09:35] p-mcgowan commented on #134
@chaitanya-y your issue is unrelated (see [your actual issue](https://github.com/HospitalRun/hospitalrun-server/issues/139)) - try to keep conversations within issues to the actual stated issue

[2019-02-21 09:35] p-mcgowan commented on #82
@chaitanya-y your issue is unrelated (see [your actual issue](https://github.com/HospitalRun/hospitalrun-server/issues/139)) - try to keep conversations within issues to the actual stated issue

[2019-02-21 09:35] p-mcgowan commented on #137
@chaitanya-y your issue is unrelated (see [your actual issue](https://github.com/HospitalRun/hospitalrun-server/issues/139)) - try to keep conversations within issues to the actual stated issue

[2019-02-22 10:15] sptutusukanta opened #141 "Deployed with docker but gives lots of Elasticsearch errors"
I installed with docker-compose following this [tutorial](https://github.com/HospitalRun/hospitalrun-server/blob/master/DEPLOYMENT_GUIDE.md).

Everything's seems good but there are a lot of errors in the console. Here it a sample of the error:

[code]

Not sure though, is it trying to connect to something "xxxxxx" instead of `localhost`, `0.0.0.0`, `IP`?
I'm using Ubuntu 18.04.

It looks like Elas

[2019-02-22 22:50] MatthewDorner commented on #140
I think it's the same issue as https://github.com/HospitalRun/hospitalrun-frontend/issues/953.

[2019-03-01 00:01] iskandergaba opened #142 "Internationalization Plan"
Let me start off by saying that saying that I really like your work especially after comparing it with other solutions provided by the open source community.

The only thing that I find lacking is an internationalization plan. Is there any plans to translate this platform into other languages?

Is it possible for developers implementing your interface to translate your platform on their own? If ye

[2019-03-03 10:57] #142 closed

[2019-03-28 02:36] RockerHX opened #143 "Error creating push database! Error: You are not a server admin."
Error creating push database! { Error: You are not a server admin.
    at Request._callback (/home/www/hospitalrun-frontend/node_modules/nano/lib/nano.js:252:15)
    at Request.self.callback (/home/www/hospitalrun-frontend/node_modules/request/request.js:185:22)
    at Request.emit (events.js:180:13)
    at Request.<anonymous> (/home/www/hospitalrun-frontend/node_modules/request/request.js:1161:10

[2019-04-02 23:46] penguin8r opened #144 "Any better install instructions?"
Docker install doesn't work.  It's apparently looking for some old Debian repositories that are not available anymore:
W: Failed to fetch http://deb.debian.org/debian/dists/jessie-updates/main/binary-amd64/Packages  404  Not Found

Alternate install instructions are incomplete.
Is this project still active?

[2019-04-03 18:23] mpszambia commented on #144
Hi, Try and place these lines of code in your DockerFile after ARG SSL_TYPE:

[code]
You will find the discussion on what the last two lines are doing [here](https://unix.stackexchange.com/questions/508724/failed-to-fetch-jessie-backports-repository):

And then you will find the first line explanation [here](https://unix.stackexchange.com/questions/2544/how-to-work-around-release-file-expired-prob

[2019-04-03 19:59] penguin8r commented on #144
there is no ARG SSL_TYPE line in the current Dockerfile. :(
There is a reference to that in the 'docker-compose.yml, but I don't believe that the docker RUN statements belong in the .yml?  Or is that acceptable?
I would honestly rather just do manual install rather than rely on the house of cards that Docker creates, but I tried following those instructions too and it seems I failed to read suffic

[2019-04-03 21:39] MatthewDorner commented on #144
I think @mpszambia might mean to place those lines in the nginx/Dockerfile ?

https://stackanswers.net/questions/w-failed-to-fetch-http-deb-debian-org-debian-dists-jessie-updates-main-binary-amd64-packages-404-not-found-ip-151-101-140-204-80
seems to be a recent change. Based on the above comment, is it a dependency of the nginx image? So maybe just need to update to a newer nginx image?

[2019-04-03 23:19] penguin8r commented on #144
that's exactly what it was, those lines go specifically in the nginx/Dockerfile.  Thank you.
Still doesn't run properly or bind to the network, so I just get a default nginx page when I browse to the system IP, but I appreciate the help.  I was thinking this was browser accessible, didn't realize it needs a front end/fat client to work.

[2019-04-04 00:04] MatthewDorner commented on #144
hmm, worked for me. You should use SSL_TYPE of "none" if you just want to set up a local test server, otherwise it's going to try running the LetsEncrypt cert generation script and fail. but that ought to cause the entire Nginx container to fail so you wouldn't get a default Nginx page...

[2019-04-04 09:27] mpszambia commented on #144
Hi Matthew,

Where do we set the SSL_TYPE value? I’m just getting started with this platform and related technologies, a pointer would be great help.

Thanks.

-------------------------------------

Marcus K. Achiume Jr.

Mobile Payment Solutions Ltd.

759 Independence Avenue, Woodlands

Lusaka, Zambia

Mobile: +260.966.601.973

               +260.979.601.973

Office:  +260.211.269.973

www.mps.c

[2019-04-04 11:43] mpszambia commented on #144
@MatthewDorner , found where to set it up. Thanks.

[2019-04-10 12:43] someonewithsomepower opened #145 "ERROR: Service 'nginx' failed to build: The command '/bin/sh -c apt-get update --fix-missing && apt-get install -y cron' returned a non-zero code: 100"
When I run 'docker-compose up --build' it provides me

'Service 'nginx' failed to build: The command '/bin/sh -c apt-get update --fix-missing && apt-get install -y cron' returned a non-zero code: 100'

My host is mac os 14.XX.

How do I solve that？

[2019-04-19 14:16] thenikin commented on #145
same issue here. Tried with debian, ubuntu, nothing works

[2019-05-25 16:00] professorhaseeb commented on #145
I got the same error!... any updates on this?

[2019-05-29 07:02] cupliz commented on #144
you can run hospitalrun itself without nginx, or you can set up your own nginx later. you just need to disable nginx container in `docker-compose.yml` and add a port to app container.
example:

[2019-06-14 11:44] sajid-r commented on #145
I solved it by changing the nginx version to nginx:1.15.12 in nginx/Dockerfile

[2019-06-15 13:41] professorhaseeb commented on #145
i have already proposed a solution (#146 ) for this

[2019-07-13 14:31] GidyCazaus commented on #107
i Have same issue. please help

[2019-08-03 19:47] zenny opened #148 "ERROR: Service 'logstash' failed to build: The command '/bin/sh -c logstash-plugin update --no-verify logstash-input-couchdb_changes' returned a non-zero code: 1"
docker-compose fails to build:

[code]

But there is adequate memory as evident from:
[code]

Nor there is any error log in the /tmp directory of the dockerhost as claimed:

[code]

Any inputs?

[2019-08-07 07:54] tehKapa commented on #145
Closed by #146.

[2019-08-07 07:54] #145 closed

[2019-08-07 20:40] #1 closed

[2019-08-07 20:47] fox1t commented on #5
This issue will be use as knowledge base for the 2.0.0 version.

[2019-08-07 20:52] fox1t commented on #11
This kind of integrations will be handled by HL7 module.

[2019-08-07 20:52] #11 closed

[2019-08-07 20:54] fox1t commented on #14
This is one of the main goals of the project!

[2019-08-07 20:56] #15 closed

[2019-08-07 20:58] #17 closed

[2019-08-08 10:33] zenny opened #149 "nginx instance of the hospitalrun fails to recognize certs"
Hi again,

Just pull the latest master and tried to 'docker-compose up --build' but nginx fails to run as it fails to run the self-signed certs created at data/nginx/certs/ directory.

[code]
Despite I have created self-signed certs as I was using 'self' parameter in the docker-compose.yml
[code]

[2019-08-08 10:39] fox1t commented on #149
@tehKapa is this fixable with the minumum effort and without impacting the 2.x roadmap?

[2019-08-08 10:50] tehKapa commented on #149
From an initial analysis, it seems to be a non-roadmap 2.0 bug. I need to investigate further.

[2019-09-03 06:54] asyf opened #150 "npm ERR! No valid versions available for hospitalrun"
Not able to download hospitalrun dependency

[2019-09-03 16:05] tehKapa opened #151 "Investigating the implementation of HL7"
## 💬 Questions and Help

We need to understand how to implement HL7 standard in our APIs.

- [ ] HL7 v1 (messages)
- [ ] HL7 v2 (messages)
- [ ] HL7 v3 CDA (XML) Releases: R1, R2
- [ ] HL7 v4 FHIR (JSON + REST) Releases: R1, R2, R3 & R4

[2019-09-06 08:54] fox1t commented on #151
@bazuzu666 let's write down the motivations. It have to be clear for newcomers why we need to support these standards.

[2019-09-08 17:03] PhearZero opened #228 "Fasfify CouchDB integration ideas"
## 🚀 Feature Proposal
Fasfify proxy to the CouchDB with advance auth and db slicing.

## Motivation

Adopt Fastify Server and [Fastify Plugin Interface](https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md) for API Services. Primary role will be as a proxy to Couchdb's REST interface. This can also include advanced authentication strategies for CouchDB, Server Side Rendering, and D

[2019-09-08 18:02] PhearZero opened #152 "Create Fastify-CLI Application"
## 🚀 Feature Proposal

Implement [Fastify-CLI](https://github.com/fastify/fastify-cli) Application
HospitalRun/hospitalrun#13

## Motivation

Configure HospitalRun v2 Server to be a basic Fastify CLI Application and include acceptance criteria similar to the [next-poc-demo](https://github.com/HospitalRun/next-poc-demo/tree/master). Make sure to configure Commitizen and Husky prior to your first co

[2019-09-08 19:16] PhearZero opened #153 "Continuous Integration"
## 🚀 Feature Proposal

Build Triggers and Package Release

## Motivation

The new [mono repository](https://github.com/HospitalRun/hospitalrun) is responsible for triggering the publishing of new packages via merging upcoming `next` features into `master` of this repository.

- This project should run a release on any changes to master.
- All feature/fix branches are merged into the `next` branch

[2019-09-10 12:58] #152 closed

[2019-09-10 19:09] blestab commented on #150
Since this has been marked "wontfix", i guess due to the new version coming up, Is there an alternative way to installing the hospitalrun service correctly, that someone can share?

[2019-09-10 20:01] tehKapa commented on #150
Sadly, at the moment the core team cannot deal with issues related to version 1.0.0-beta.

We don't have an ETA for version 2 yet.

[2019-09-10 20:13] blestab commented on #150
Noted with thanks @tehKapa

[2019-09-11 02:40] PhearZero opened #155 "OpenAPI/Swagger"
## 🚀 Feature Proposal

Add OpenAPI Plugins to Fastify

## Issues:
HospitalRun/hospitalrun#15 HospitalRun/hospitalrun#13

[2019-09-11 17:58] afcsagir commented on #89
ERROR: Service 'hospitalrun' failed to build: The command '/bin/sh -c npm install --loglevel silent' returned a non-zero code: 1
not solved even i added  FROM node:boron-slim
But Didnot fixing my issue ubuntu 16 vps i am using

[2019-09-13 10:10] bazuzu666 commented on #151
HL7 = Health Level 7 (seven because it corresponds to level 7 of ISO-OSI model)
It is the international standard for clinical data interchange, created to move information about patient data and to standardise the interoperation between various hospital wards and systems.

HL7 versions

1. v1 was only used for a proof of concept implementation and served to define the content and structure of the

[2019-09-13 13:42] PhearZero commented on #151
# **v1-3**
 Great place for fastify endpoints in #154 .
 - See [hl7-db](https://github.com/twilson63/hl7-db) for an expressjs example without massaging the data into a different schema.
 - See [transform-pouch](https://github.com/pouchdb-community/transform-pouch) for mutating/massaging the database data.
 - See [pouch-box](https://www.npmjs.com/package/pouch-box) [psp](https://www.npmjs.com/packa

[2019-09-14 19:06] jackcmeyer opened #156 "Add coveralls"
## 🚀 Feature Proposal

Add coveralls.

## Motivation

See how well the tests are doing.

[2019-09-18 06:59] tehKapa opened #157 "Remove gitmoji to improve CI pipeline"
## 💥 Regression Report

Restore the semantic-release without the assistance of Gitmoji.
Repository to use as a reference: https://github.com/tehKapa/testone

#### New devDependencies will be:

- @commitlint/cli
-  @commitlint/config-conventional
-  @commitlint/prompt
-   @semantic-release/changelog
-   @semantic-release/commit-analyzer
-   @semantic-release/git
-   @semantic-release/github
-   @se

[2019-09-20 08:13] #157 closed

[2019-09-22 09:15] fox1t commented on #156
@tehKapa what we need to add this also to server?

[2019-09-22 09:40] fox1t commented on #151
Can we set an ETA for a POC of this integration? We need to expose a specific fastify-plugin.

[2019-09-22 10:32] tehKapa commented on #156
I already added the Coveralls variable on Travis.
I think that's [enough](https://node-tap.org/docs/coverage/#travis-ci-and-coverallsio-integration). Do we use node-tap, right?

[2019-10-07 17:10] tehKapa opened #160 "Create a replication between CouchDB and Cloudant"
## 🚀 Feature Proposal

Find a way to create a replication between CouchDB and Cloudant

## Motivation

It would be interesting to create a replication to have a backup on a managed service.
This would allow us also to offer hybrid solutions on-premises + cloud.

[2019-10-14 09:12] tehKapa opened #164 "LDAP support"
## 🚀 Feature Proposal

Login using LDAP account.

## Motivation

A lot of companies use LDAP as their login system, so I thought that it could be useful to incorporate to HospitalRun

Link to https://github.com/HospitalRun/hospitalrun-frontend/issues/1288

[2019-10-15 15:42] tehKapa commented on #156
Something's wrong.

[code]

[2019-10-30 15:28] fox1t opened #166 "Unified module to access any kind of storage"
## 🚀 Feature Proposal
Plugin based storage module that abstracts the underlying storage type.

## Motivation
We need a custom module that can allow us to switch between local storage(fs), s3, azure object storage and GCP storage in a seamless way. This will enable HospitalRun to run in every possibile scenario with no change to the code base.

## Example
It will be used to store images,any kind of

[2019-11-05 09:52] #19 closed

[2019-11-05 09:52] #21 closed

[2019-11-05 09:52] #53 closed

[2019-11-05 09:52] #54 closed

[2019-11-05 09:52] #57 closed

[2019-11-05 09:52] #47 closed

[2019-11-05 09:52] #18 closed

[2019-11-05 09:52] #104 closed

[2019-11-05 09:52] #106 closed

[2019-11-05 09:52] #121 closed

[2019-11-05 09:52] #66 closed

[2019-11-05 09:52] #126 closed

[2019-11-05 09:52] #129 closed

[2019-11-05 09:52] #130 closed

[2019-11-05 09:52] #94 closed

[2019-11-05 09:52] #132 closed

[2019-11-05 09:52] #118 closed

[2019-11-05 09:52] #97 closed

[2019-11-05 09:52] #139 closed

[2019-11-05 09:52] #134 closed

[2019-11-05 09:52] #82 closed

[2019-11-05 09:52] #137 closed

[2019-11-05 09:52] #141 closed

[2019-11-05 09:52] #140 closed

[2019-11-05 09:53] #143 closed

[2019-11-05 09:53] #144 closed

[2019-11-17 13:26] tehKapa commented on #160
Currently I’ve successfully tested the replication between couchdb 1.7 HospitalRun - CouchDB 2 - IBM cloud to have an automated backup system via cloud

[2019-12-04 14:39] paulogr opened #177 "Where is all the code?"
I'm probably missing something but where is all the code?

I'm here to investigate the server code for learning purposes but I can't find anything.

The services and plugins folders has just some stub code.

Thanks for any help!

[2019-12-04 14:51] fox1t commented on #177
Hi @paulogr! We are in complete rewrite process of the version 2.0.0. Right now the major work was done on frontend and components repositories. Soon I'll make first commits to this repo. Are you a Node.js developer? If so, join our slack for the last updates about this and other repos and roadmaps.

[2019-12-04 14:57] paulogr commented on #177
Hi @fox1t thanks for your answer, yes I'm a node developer, new to Fastify and very excited to work with it.

How can I join the slack?

[2019-12-04 14:58] fox1t commented on #177
I sent you an invite on your personal email.

[2019-12-04 14:59] paulogr commented on #177
Great, thank you!

[2019-12-04 15:00] fox1t commented on #177
You are welcome! :)

[2019-12-04 15:00] #177 closed

[2019-12-07 15:04] jeremyklein commented on #151
Hi All,

I work in the Healthcare Interoperability/Integration space and have experience with HL7 v2, CDAs, and FHIR. I'm not super familiar with the tech stack in HospitalRun but I would love to learn more.

What are the motivations for implementing HL7 standards? Are there any workflows/integrations you are hoping to support? Integrating Healthcare Enterprises (IHE) describes a number of profile

[2019-12-07 15:08] fox1t commented on #151
Hi Jeremy! Thanks for reaching us. We are going to implement HL7 for sure, starting from FHIR. We already have some internal discussion about this since day one. I would really appreciate if you want to join us. We use our slack as primary communication channel. May I invite you to join it?

[2020-01-12 14:32] tehKapa commented on #156
So, quickly recap:

- I've set environment variable COVERALLS_REPO_TOKEN on Travis
- Update [package.json](https://github.com/HospitalRun/hospitalrun-server/commit/c35b71be3ea87f45a6ba9462ce5ff1478ecbaf68) and [travis.yml](https://github.com/HospitalRun/hospitalrun-server/commit/3a8857536f83d35384815a7a4fefc1571d73bb13) but once they run the tests, they still don't show up on coveralls

[2020-01-14 04:36] damianesteban commented on #151
I can also help with this. We have implemented both HL7 v2 as well as FHIR integrations at BetterPT.

[2020-01-14 04:37] damianesteban commented on #127
How about running this on Digital Ocean Kubernetes? I could set that up for sure.

[2020-01-14 04:39] damianesteban commented on #127
Oh, I see you are running on Azure. I could help with that as well.

[2020-01-14 19:55] fox1t commented on #127
Hi @damianesteban this issue is not in scope anymore. We already have configurations for all major CI/CD platforms. Would you mind to check them on the frontend repo and coordinate with @tehKapa if you think there is something that could be improved? Are you already on our slack?

[2020-01-14 19:55] #127 closed

[2020-01-14 19:55] #5 closed

[2020-01-14 19:59] #6 closed

[2020-01-14 19:59] #14 closed

[2020-01-14 19:59] #16 closed

[2020-01-14 19:59] #100 closed

[2020-01-14 19:59] #103 closed

[2020-01-14 19:59] #122 closed

[2020-01-14 19:59] #136 closed

[2020-01-14 19:59] #148 closed

[2020-01-14 19:59] #149 closed

[2020-01-14 19:59] #150 closed

[2020-01-14 20:07] tehKapa opened #213 "Connect family member to patient"
## 🚀 Feature Proposal

It's necessary to develop functionality that allow connecting a patient with a family member.

## Example

Inside the patient record, it could be add the family member's information (TBD).

[2020-01-14 20:09] tehKapa opened #214 "Drugs recurring history"
## 🚀 Feature Proposal

It's necessary to provide support for one-time or long-term drugs prescription.

## Motivation

In the legacy version 1.0.0-beta, when you add a drug during a visit, it's just for that specific visit. When you click on a new appointment, the long term medicines (which are to be continued to viewing) is not available to the doctor. The doctor has to go back to the last visit

[2020-01-21 16:29] #156 closed

[2020-02-07 09:48] fox1t opened #236 "fastify-autoload prevents plugins being loaded correctly"
## 🐛 Bug Report

Discussion and issue here: https://github.com/fastify/fastify-autoload/issues/61
PR: https://github.com/fastify/fastify-autoload/pull/62

[2020-02-11 08:55] tehKapa commented on #236
@fox1t they've accepted your PR

[2020-02-14 17:28] fox1t commented on #236
Fixed on `fastiify-autoload` v 1.2.1

[2020-02-14 17:28] #236 closed

[2020-02-19 09:57] fox1t opened #243 "Create new Tenant and Admin user"
## 🚀 Feature Proposal

Add API to create new tenant and user.

## Motivation
When a user starts HospitalRun (auto-hosted instance) or goes to `app.hospitalrun.io` for the first time, it will be presented with a "create new user form". The route receives user base info and tenant info

Upon request, this route:
- adds user to CouchDB;
- creates a new database on CouchDB for the tenant, using tenant

[2020-02-28 16:40] fox1t opened #248 "Add CouchDB JavaScript context"
## 🚀 Feature Proposal
Since we are going to use extensively CouchDB [design documents](https://docs.couchdb.org/en/master/ddocs/ddocs.html#creation), we need some hepler functionalities to trasfrom our TypeScript designs to valid JSON design.

Every CouchDB function is executed inside the [JavaScript context](https://docs.couchdb.org/en/master/query-server/javascript.html).

[2020-02-28 16:51] fox1t commented on #248
Implemented by https://github.com/HospitalRun/hospitalrun-server/commit/b9999296c6390b01b8074ea0ed263949f896ca47

[2020-02-28 16:51] #248 closed

[2020-03-04 16:41] #228 closed

[2020-03-20 18:45] lancerutkin commented on #164
The linked frontend issue for LDAP login has been closed. Is this still a feature HospitalRun wants added?

[2020-03-21 14:29] tehKapa commented on #164
Yes. We closed the old issue to make more order

[2020-03-27 20:37] greg2013 commented on #213
Hi I like to make contribution to this.  I am a first time contributor, I need core a member to assign this to me.

[2020-04-09 02:43] roy-stewart commented on #214
I would like to work on this issue.

[2020-04-09 11:44] fox1t commented on #214
Hi. Thanks for offering you support on this issue but we are in the process of integrating HL7, loinc and other standards. This issue has to be put on stale while we are working on it. You can check the progress or help on core repo.

[2020-04-09 11:46] fox1t commented on #160
Which kind of docs do we need?

[2020-04-09 12:52] tehKapa commented on #160
A simple guide to “how to replicate 2 databases”

[2020-06-08 15:49] fox1t opened #316 "DICOMweb server"
## 🚀 Feature Proposal
Integrate a DICOMweb server. As a reference we can use https://github.com/dcmjs-org/dicomweb-server that is almost 1:1 spec compliant implementation in Fastify and CouchDB.
We need to make it a plugin that we can register on our own Fastify's instance.

## Motivation
We are going to integrate https://github.com/OHIF/Viewers on the HospitalRun FE.

[2020-06-08 16:01] dannyrb commented on #316
👋 I thought y'all would find this interesting: @pieper, @emelalkim, @jamesapetts, @swederik

[2020-06-25 19:06] kumikokashii opened #322 "Move frontend dummy data script to server repo"
There is currently a dummy data generation script in the frontend repo at src/util/generatePatients.ts. We want to find a new home in the server repo so that this script will be used to create a pre-populated test account.

This ticket is blocked until the database-related functionalities are shifted from their temporary home in the frontend repo to the permanent home in the server repo.

[2020-06-28 09:17] blestab commented on #214
Just to chime in here, if not already considered, you might want to consider having a medication start and stop date so that the recurrence is not an open ended one but rather one with  a finite duration such that when the stop date is reached, the medication can potentially be auto discontinued

[2020-08-04 11:07] tehKapa opened #333 "Update fastify from v2 to v3"
We need to upgrade hr-server to the new version of Fastify

[2020-09-01 20:22] tehKapa commented on #333
Fixes #341

[2020-09-01 20:22] #333 closed

[2020-12-02 19:06] DrewGregory commented on #164
@tehKapa I would be interested in taking this on! :)

[2021-01-08 21:16] AcharyaS97 commented on #213
Can I take up this issue if there hasn't been any work on it? I'm a first time contributor

[2021-01-09 15:13] tehKapa commented on #213
yes @AcharyaS97

[2021-01-15 07:46] riiniii commented on #164
@tehKapa has @DrewGregory taken this? interested if not~

[2021-01-15 08:45] tehKapa commented on #164
@DrewGregory forgive me for the delay, but sometimes github notifications get lost in the thousands of notifications emails. If you are still interested I can assign this task to you.

@riiniii I've assigned you another task, in the case as @DrewGregory is no longer interested, you can take this one too

[2021-03-19 16:29] AcharyaS97 commented on #213
Hi there. I want to start work on this issue and get into contributing, but I had a few questions. Can I get access to the slack?

[2021-03-19 17:01] ocBruno commented on #213
@AcharyaS97 Here is the invite page to slack:
https://hospitalrun.io/contacts -> https://hospitalrun-slack.herokuapp.com/

[2021-03-19 17:37] AcharyaS97 commented on #213
I saw that link elsewhere but have had issues with it. When I tried to submit my email (same one that I use for my github), it gives the error message "Channel not found in general". Is there some permissions issue or what might be wrong?

[2021-03-19 18:34] ocBruno commented on #213
Hmm not sure then, give this one a try hospitalrun.slack.com or you can request invitation from a member or admin with your email

[2021-06-03 08:24] palashCItobuz commented on #148
I'm facing the same problem on Ubuntu 20.04.2 LTS. This was labelled as `wontfix` but can we have some more insight into the problem?

[2022-02-24 07:41] SuryaMobApp commented on #148
I'm also facing the same problem on Ubuntu 20.04.2 LTS. This was labelled as wontfix but can we have some more insight into the problem?

[2022-09-12 00:21] Banditolabs commented on #164
Hi @DrewGregory, I found this issue tagged as "good first issue" and I'd like to work on this to get it implemented. Mind if I take the assignee slot? cc: @tehKapa

[2022-09-14 18:45] tehKapa commented on #164
@Banditolabs done